[2018-04-08 13:19] mrlacey opened #5 "Investigate drag&drop extensibility options"
Investigate
- dragging files from solution explorer onto XAML code view
- dragging cs/vb code selection onto XAML code view

[2018-04-08 13:21] mrlacey opened #6 "Add support for F#"
A popular question from people who've seen the early demos is "will this work with F#?"

There's no reason (AFAIK) that we couldn't do this but it's not a top priority.

[2018-04-08 13:24] mrlacey opened #7 "Localize VSIX"
Add localization support for UI Text.
Initial release (1.0) will be English only.

Need to localize:
- [x] Package level resources
- [x] Settings dialogs
- [x] Other UI/exception messages
- [x] Manifest
- [x] EULA

[2018-04-08 13:25] mrlacey opened #8 "Ensure VS Theme support"
Ensure all UI reflects VS Theme selection.

Assigned to v1.1 as not a priority for initial launch

[2018-04-08 13:27] mrlacey opened #9 "Set up automated execution of tests"
Enable automated execution of tests on commit and PR.

[2018-04-08 13:31] mrlacey opened #11 "Set up daily build of VSIX"
Enable a daily (nightly) build of the VSIX and distribution via myget

[2018-04-08 13:32] mrlacey opened #12 "Set up official build for VSIX"
Need to set up and establish a process for creating official releases.

This needs to handle
- build
- signing
- distribution to the VS Marketplace

[2018-04-08 13:34] mrlacey opened #13 "Create VS marketplace entry"
Need to create the entry in https://marketplace.visualstudio.com/

Also, need to create assets and copy to accompany the listing.

X-Ref #12

[2018-04-08 13:40] mrlacey opened #16 "Refine settings/configuration"
Refine settings experience

Follow on from #15

-----

~~Still outstanding (14 Dec 2018)~~

- [x] invalid replacement/placeholder detection
- [x] Remove temporary UI notice (and link)

once all outstanding actions are done verify UI against https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/evaluation-tools-for-visual-studio?view=vs-2017

[2018-04-08 14:50] mrlacey opened #22 "Need to handle mapping VM and View with Copy actions"
**investigation needed**

If XAML is added via the clipboard or toolbox the view it's added to may still need to wire up the VM and the View. This might be in code behind or in the XAML.

Need a way of helping developers avoiding having to do this manually.

Ideas:
- Add a context menu option to the XAML view to add an entry there
- Add a context menu option to the codebehind to add an entry there

[2018-04-08 18:34] mrlacey commented on #9
Note. Can't use a free AppVeyor config while the project is private.

[2018-04-08 20:26] mrlacey commented on #16
Do #20, #21 & #24 first

[2018-04-09 06:42] mrlacey opened #26 "Audio feedback?"
As visual output is often minimal (just in status bar) it can be easy to miss.
Should we also provide (offer?) audible feedback too?
- This goes doubly so for errors, exceptions, or situations when no output is created.

[2018-04-10 04:57] crutkas commented on #9
something we need now or can set up after?  I can ask around for help on this too.

[2018-04-10 04:57] crutkas commented on #13
i may need to do this one.  I know we can set up a group account.

[2018-04-10 12:05] mrlacey commented on #13
@crutkas I was expecting you might have to do this, depending on what account it's published under.

Issue was created so this wasn't forgotten about and left until the last minute and done in a rush

[2018-04-10 12:10] mrlacey commented on #9
Ideally want is sooner rather than later.
Being private may be a blocker but ideally, want this by the time we start taking contributions. Tests currently run quickly but we need to make sure they're run for anything that touches the analyzers as the opportunity for regressions is large as there is some very complex stuff going on and some of the logic needs to work for both C# & VB--which is easy

[2018-04-10 12:45] mrlacey commented on #26
If creating a view from the solution explorer the developer's focus may be in the top right-hand corner of the screen. The default status bar message will be in the bottom left of the screen.
Showing a message far away from the developer's focus will mean it is likely to be missed. This could lead to the functionality appearing to be broken as it may look like nothing happened.

Error/exception me

[2018-04-10 13:06] mrlacey opened #29 "Review and extend default WPF profiles"
Version 1.0 only includes a basic profile for WPF apps (C# & VB versions). This is not expected to cover all scenarios and should be extended to include support for a wider range of scenarios and uses.

Please share your thoughts below.

**We're actively seeking feedback on how the default profile should be changed AND any other profiles that should also be included by default.**

A follow-on from

[2018-04-10 13:06] mrlacey opened #30 "Review and extend default Xamarin.Forms profile"
Version 0.1 only includes a basic profile for Xamarin.Forms apps. This is not expected to cover all scenarios and should be extended to include support for a wider range of scenarios and uses.

Please share your thoughts below.

**We're actively seeking feedback on how the default profile should be changed AND any other profiles that should also be included by default.**

A follow-on from #28

[2018-04-10 13:42] mrlacey commented on #16
Can we have?
- syntax highlighting
- invalid syntax detection
- invalid replacement/placeholder detection
- a way to test the transformation of a property
- a way to change multiple mappings at once

all of the above would be nice to have. Getting the UI nice with just plain text and core functionality is the top priority though.

[2018-04-10 17:43] crutkas commented on #13
I think you can create the text / body and i can whip up the physical entry on marketplace

[2018-04-15 14:56] mrlacey opened #34 "Add more tests for all placeholders"
especially repint without incint  & nooutput

[2018-04-16 19:23] mrlacey opened #38 "Prepare VS Marketplace assets and description"
first need to confirm required information and assets

[2018-04-16 19:29] mrlacey opened #39 "Add more automated testing of settings"
Add tests for logic in options and default profiles

[2018-04-17 22:56] mrlacey opened #45 "For public releases - extended logging should default to false"
Currently set to true to encourage the capture of more error issues during early testing.

[2018-04-18 17:34] mrlacey commented on #22
Note. Prism needs to configure datacontext info in the XAML **AND** and code behind. :(

[2018-04-18 22:20] mrlacey opened #46 "Need keyboard shortcuts for all commands"
Need to not be already commonly used.
Ideally with some logical grouping.

Needed for:

- [ ] Create View
- [ ] Copy to clipboard
- [ ] Send to Toolbox
- [ ] Open Options
- [ ] Set DataContext

[2018-04-18 22:20] mrlacey commented on #22
MVVMLight does too.

[2018-04-19 13:16] mrlacey commented on #11
Moved to milestone 0.1 to ensure it builds easily and will need a private distro for alpha testing

[2018-04-20 21:01] mrlacey opened #48 "Don't include static properties in class output"
In class, base class, or subproperties

[2018-04-26 20:20] mrlacey commented on #22
Approach taken:
- Configurable options for how to set
-- in xaml
-- in CB (inside constructor)
-- in CB (outside constructor)
-- and what the CB constructor should be (if not already in file)
- right click menus on both the XAML & CB files.
-- menu option only shown if not already set in file
-- current file modified

**Outside of 0.1 scope**
- modifying both XAML & CB in one action. (TODOs in cod

[2018-04-30 12:01] mrlacey commented on #22
Also need to add tests for this - code can also be greatly refactored :)

[2018-04-30 13:31] mrlacey commented on #11
Building on a new VSTS account

[2018-04-30 13:50] mrlacey commented on #11
Have set up a MyGet account but can't get it to remotely connect to VSTS instance to build an instance there.
Will manually add VSIX files to beta distro source for v0.1

[2018-05-01 21:43] mrlacey opened #55 "Add exceptions when configuring settings to telemetry"
Follow on from #18

[2018-05-02 10:17] mrlacey commented on #11
Happy to leave this as a manual process until after get to public beta

[2018-05-02 10:20] mrlacey commented on #9
Moving to milestone1.0 as this won't be possible until after we enter public beta

[2018-05-02 23:30] mrlacey commented on #16
For ViewGeneration section, it might be nice to have a visualization of what the configured options represent

so, if specified:

[code]

There would be a visualization like

[code]

or

[code]

would produce

[code]

[2018-05-03 12:46] mrlacey opened #57 "Support the use of DataAnnotations in mappings"
Where a VM has properties that are attributed with attributes from the `System.ComponentModel.DataAnnotations` namespace, this may provide an opportunity to generate XAML that is more specific to the original model. The generated code should also require less modification.

Further investigation is needed here.

It may be good to start by looking at WPF and `IDataErrorInfo` too.

[2018-05-04 18:12] LanceMcCarthy opened #59 "Installation Failed: RelativeUri Error"
**Issue**
Installation fails for VS2017 15.6.7

**To Reproduce**
Steps to reproduce the behavior:
1. Run VSIX generated by the project (in /bin/debug)

![image](https://user-images.githubusercontent.com/3520532/39645063-1429b452-4fa5-11e8-8261-93b0a2102ae5.png)

**Expected behavior**
Successful installation

**Environment**
 - Visual Studio Version: Visual Studio 2017 15.6.7
 - Extension Version:

[2018-05-05 03:18] mrlacey commented on #59
Based on the call stack, it looks to be because the license specified in `source.extension.vsixmanifest` is an absolute uri to the website when it should be a relative path to a file in the project.

[2018-05-05 03:22] mrlacey commented on #59
@LanceMcCarthy delete the license entry from the manifest and you'll be unblocked.
![image](https://user-images.githubusercontent.com/189547/39659226-d2a77e84-501b-11e8-93c6-6a5c6bcb53d0.png)

I'll set this to the proper, relative, uri shortly.

[2018-05-05 17:15] ArchieCoder opened #62 "Format the generated code"
First of all, great job for doing this tool!

I tried to generate the code with the provided ViewModel. Would it be possible to apply the default VS format to make the output cuter?

![sample](https://user-images.githubusercontent.com/1608424/39665695-0d8f37ea-5066-11e8-94c9-4ce465c0fbeb.png)

[2018-05-05 19:23] mrlacey commented on #62
I'm not against doing this but it's a lot of work for something that VS can do for you with 3-keystrokes (ctrl + k, d) and one of the principles of this project is to focus on things that VS can't already do.

I admit, the argument for doing this is stronger when generating the whole view but that itself was a late addition.
The starting point for the project was working with existing views (via c

[2018-05-07 08:58] corradocavalli opened #65 "Invalid binding on int property"
**Describe the bug**
ViewModel exposes an int property Age, RapidXaml generates a slider that leads to a runtime error:	Invalid binding path 'ViewModel.Age' : Cannot bind type 'System.Int32' to 'System.Double' without a converter

**To Reproduce**
Added a MyViewModel class directly under project root
   public class MyViewModel:ViewModelBase
    {
        public int Age { get; set; }
        priva

[2018-05-07 09:00] corradocavalli opened #66 "Property is bound Two way even when property has only a public setter"
**Describe the bug**
I have a viewmodel that exposes an int property (get only, set is private), generated view includes a slider bound in two way mode.

**To Reproduce**
Add a read only property to the viewmodel.

**Expected behavior**
Bound view not to use Two way

[2018-05-07 09:28] Alex-Witkowski opened #67 "Set DataContext in XAML dosen't make sens with UWP Profile"
**Describe the bug**
The UWP Profile uses x:Bind so setting DataContext in XAML doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to profile selection in options
2. Set UWP or UWP (with labels) profile as active
3. Generate some XAML from VM with clipboard
4. Paste XAML to view
5. Right click in view and select "Set DataContext"

**Expected behavior**
Option is disabled for Pr

[2018-05-07 09:34] Alex-Witkowski commented on #66
Same applies to a bool property with only public getter and private setter.

[2018-05-07 09:46] Alex-Witkowski opened #68 "Generate view misses using for ViewModel namespace"
**Describe the bug**
When ViewModel is in ViewModels name space and you generate the view for it the view goes to my "Views" name space which is good and in code behind the DataContext is set but the
`using Project.ViewModels;`
is missing.

**To Reproduce**
Steps to reproduce the behavior:
0. Select "UWP with labels" as active profile
1. Create Folder ViewModels
2. Add view model to folder
3. Crea

[2018-05-07 14:02] mrlacey commented on #62
Been thinking more about this, would be good to do as the current behavior is currently a poor first impression.

If did this, would need to determine the indent level from the rest of the content on the page. (or could just default to 4 spaces?)

Looked at using `XDocument` to format the whole page but that risks changing other configured content.
Can't just format the XAML generated from the VM

[2018-05-07 14:04] mrlacey commented on #66
This is an issue with the default profiles.  X-Ref #28

**Note** Any mapping that uses a TwoWay binding and has `IfReadOnly=false` also need to include a readonly version that uses a different binding mode.

[2018-05-07 14:04] ArchieCoder commented on #62
I haven't check how you did the actual code injection in the project or existing file, but if I recall 10 years ago when I worked with controlling VS, you could call VS api (OLE!?). Could it be possible to just call VS api?

[2018-05-07 14:05] mrlacey commented on #67
This looks like an issue with the current (temporary) profiles.
This only shows up based on profile configuration.
X-Ref #28

[2018-05-07 14:06] mrlacey commented on #68
This looks like an issue with the current (temporary) profiles.
X-Ref #28

[2018-05-07 14:14] mrlacey commented on #62
Calling the VS command (if can identify how) would need to be done only once the generated file was opened and has possible timing issues.

investigation continues....

[2018-05-09 04:01] mrlacey opened #70 "Generate XAML in a RelativePanel"
Provide a way for generating XAML contained in a RelativePanel where the sub-elements are named and are positioned below one another.

[2018-05-09 08:31] mrlacey opened #71 "Define default WPF profiles"
Determine which frameworks to provide default WPF profiles for and then create.

Probable options
- No framework (C# & VB)
- MVVMLight (C# & VB)
- Caliburn.Micro (C#)
- Prism (C#)
- anything else?

Follow on from #28

[2018-05-09 11:22] mrlacey commented on #65
The [new default profiles](https://github.com/Microsoft/Rapid-XAML-Toolkit/blob/master/RapidXAML.VSIX/RapidXamlToolkit/Options/ConfiguredSettings.Default.cs) should not have this issue.

[2018-05-09 11:23] mrlacey commented on #66
The [new default profiles](https://github.com/Microsoft/Rapid-XAML-Toolkit/blob/master/RapidXAML.VSIX/RapidXamlToolkit/Options/ConfiguredSettings.Default.cs) should not have this issue.

[2018-05-09 11:23] mrlacey commented on #67
The [new default profiles](https://github.com/Microsoft/Rapid-XAML-Toolkit/blob/master/RapidXAML.VSIX/RapidXamlToolkit/Options/ConfiguredSettings.Default.cs) should not have this issue.

[2018-05-09 11:24] mrlacey commented on #68
The [new default profiles](https://github.com/Microsoft/Rapid-XAML-Toolkit/blob/master/RapidXAML.VSIX/RapidXamlToolkit/Options/ConfiguredSettings.Default.cs) should not have this issue.

[2018-05-09 11:50] mrlacey commented on #59
Will verify and close this when we have the first public VSIX ready

[2018-05-09 11:59] mrlacey opened #72 "Add Analyzer (to VSIX) to indicate if [Data|Binding]Context not set"
Add a Roslyn Analyzer to detect if [Data|Binding]Context not set in Code-behind.

Could save someone not spotting this until trying to compile.
Should also help make it more apparent that something / what needs to be done to get the code working properly.

[2018-05-09 22:08] mrlacey opened #73 "Generate TextBox with header, not a separate TextBlock (UWP default profiles)"
Reported elsewhere:

[2018-05-09 22:25] mrlacey opened #74 "Options: Enum mapping output not showing"
**Describe the bug**
enum member output doesn't work in the options > edit profile dialog

![image](https://user-images.githubusercontent.com/189547/39842835-153e2dea-539d-11e8-8da8-7b18f318afd6.png)

**To Reproduce**
view any profile in options

[2018-05-10 01:59] mrlacey opened #75 "Be able to split camel case text output of property names"
Rather than output something like this.

`<x:String>OnHold</x:String>`

Put a space in between the words, based on casing

`<x:String>On Hold</x:String>`

I think that adding a new placeholder would be best for this so there isn't a need to try and infer when it should or shouldn't be done. Could try and infer based on if being used within a binding but I suspect there are lots of opportunities to

[2018-05-10 06:02] mrlacey commented on #74
That's better:

![image](https://user-images.githubusercontent.com/189547/39854544-fed1b802-53dc-11e8-8dae-6ec1b231eab5.png)

[2018-05-10 06:02] #74 closed, assigned to nobody

[2018-05-10 21:41] LanceMcCarthy opened #76 "XamarinForms Profile Tweaks"
**Describe the bug**
There needs to be additional tweaks when generating Xamarin.Forms XAML for Enumerable properties.

**To Reproduce**
Steps to reproduce the behavior:
1 - Generate a View from a ViewModel that has an enumerable for any class

Observe the following
1 - x:DataType shouldn't be used (yet)
2 - ViewCell is missing, should be 1st child of DataTemplate

![image](https://user-images.git

[2018-05-11 01:48] #75 closed, assigned to nobody

[2018-05-11 02:08] mrlacey commented on #76
Thanks for reporting this.
I guess you were using the "Xamarin.Forms" profile from below the dashed line in the list.
That was an old profile used in early testing. If you use "Xamarin.Forms C# StackLayout" you'll see the output you expect.

I'll remove the old profiles that should not be used.

[2018-05-11 15:22] LanceMcCarthy commented on #76
Indeed I did use the old one. I interpreted the **Xamarin.Forms C# StackLayout** profile for generating views code using C# instead of XAML

[2018-05-11 16:20] mrlacey commented on #76
Good point on the naming. Got any alternative suggestions?
The naming is there because it's C# and not F#.
There is no F# support but there's nothing in the UI that makes this clear.
For UWP & WPF, there is (will be) C# and VB versions.

[2018-05-11 16:34] LanceMcCarthy commented on #76
Maybe use the language identifier after the XAML structure name?

Here are a couple thoughts (I like the first one the best):

- Xamarin.Forms XAML StackLayout [C#]
- Xamarin.Forms StackLayout [XAML - C#]
- Xamarin.Forms StackLayout [C# Project]

[2018-05-16 21:47] mrlacey opened #77 "Fix use of async in VSIX"
For the sake of simplicity during early dev, there are lots of places in the code where the `.Result` of async methods is accessed without awaiting the call.
These should be changed to properly await calls and avoid locking up VS>
Also, review suggestions from the VS SDK Analyzers.

[2018-05-18 19:51] mrlacey commented on #68
If default profiles do not cover this, please comment and I'll reopen.

[2018-05-18 19:51] #68 closed, assigned to nobody

[2018-05-18 19:51] mrlacey commented on #67
If default profiles do not cover this, please comment and I'll reopen.

[2018-05-18 19:51] #67 closed, assigned to nobody

[2018-05-18 19:51] mrlacey commented on #65
If default profiles do not cover this, please comment and I'll reopen.

[2018-05-18 19:51] #65 closed, assigned to nobody

[2018-05-18 19:52] mrlacey commented on #66
If default profiles do not cover this, please comment and I'll reopen.

[2018-05-18 19:52] #66 closed, assigned to nobody

[2018-05-22 19:36] mrlacey opened #78 "Switch to using Rule-based UI Context"
Where possible, rather than using QueryStatus

See https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-rule-based-ui-context-for-visual-studio-extensions

[2018-05-22 20:35] #77 closed, assigned to nobody

[2018-05-24 21:39] mrlacey commented on #7
Have put all localizable text in StringRes.resx for initial localization work.

Still, need to create the locale-specific versions of
- [x] VSPackage.resx
- [x] RapidXamlPackage.vsct
- [x] manifest / vsixlangpack

see also https://docs.microsoft.com/en-us/visualstudio/extensibility/localizing-menu-commands#incorporating-localized-resources-into-the-project

[2018-05-25 18:04] toomasz opened #79 "[XamarinForms] Autocompletion for view model properties"
**Is your feature request related to a problem? Please describe.**

With latest update of visual studio(15.7.1) autocompletion for view model properties stopped working in DataTemplates with x:DataType specified.
That feature request is specifically for Xamarin Forms XAML. WPF has it working.

![image](https://user-images.githubusercontent.com/3065454/40559139-0c06f0b6-6056-11e8-88a5-bad3debadfbe.

[2018-05-27 16:50] mrlacey commented on #79
I'm not saying no, but I'd expect VS to be able to fix the bug that stopped this working, faster than I could reimplement an alternative intellisense provider.

[2018-06-01 23:03] mrlacey commented on #7
localization done, now just waiting for translated files to be returned

[2018-09-20 17:47] mrlacey commented on #79
It will not be possible for this project to provide an alternative to the broken Xamarin.Forms feature.

See also https://developercommunity.visualstudio.com/content/problem/249312/xamarin-xaml-intellisense-broken-since-157.html

[2018-09-20 17:47] #79 closed, assigned to nobody

[2018-09-20 18:46] toomasz commented on #79
https://developercommunity.visualstudio.com/content/problem/255781/visual-studio-1571-and-xamarin-forms-xdatatype-can.html is already fixed, waiting for release that has it.

[2018-09-20 18:46] toomasz commented on #79
https://developercommunity.visualstudio.com/content/problem/255781/visual-studio-1571-and-xamarin-forms-xdatatype-can.html is already fixed, waiting for release that has it.

[2018-10-01 15:39] mrlacey opened #80 "Code has been broken since adding localized resource files"
This is an acknowledgment that the code in the master branch is still broken and the generated VSIX does not work correctly.

This is being investigated and worked on.

[2018-10-02 19:11] mrlacey commented on #62
Note to self: Try doing this with the "Edit.FormatDocument" command.

[2018-10-10 15:57] #80 closed, assigned to mrlacey

[2018-10-10 19:30] mrlacey opened #82 "Review switching to using Xliff tasks for localization"
See if switching will make managing localized files easier

See https://github.com/dotnet/xliff-tasks
X-Ref https://github.com/github/VisualStudio/pull/1933

Need to change:
- [ ] Resources/StringRes.resx
- [ ] RapidXamlPackage.vsct
- [ ] VSPackage.resx
- [ ] LocalizationHelper

[2018-10-10 20:12] mrlacey commented on #46
According to advice in https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/menus-and-commands-for-visual-studio?view=vs-2017 not going to add these

[2018-10-10 20:12] #46 closed, assigned to nobody

[2018-10-11 15:02] mrlacey commented on #34
There is now basic coverage of all placeholders

[2018-10-11 15:02] #34 closed, assigned to nobody

[2018-10-11 15:10] mrlacey commented on #8
Verify everything against https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/visual-studio-user-experience-guidelines?view=vs-2017

[2018-10-15 15:51] #7 closed, assigned to nobody

[2018-10-15 15:52] mrlacey commented on #72
Will this need to be different for UWP/WPF/XF?

[2018-10-15 19:17] #55 closed, assigned to nobody

[2018-10-15 19:40] mrlacey commented on #78
Much of the logic this would avoid is dependent upon settings.
As settings are stored in a serialized JSON string it would not be possible to use the available rule-based functionality (such as UserSettingsStoreQuery) to determine the loading of UI buttons and commands.

If the current query based approach became impossible in the future and we had to switch to being rule-based a major rearchitect

[2018-10-15 19:40] #78 closed, assigned to nobody

[2018-10-15 19:55] mrlacey commented on #26
As per interaction section in the [VS UX guidelines](https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/notifications-and-progress-for-visual-studio?view=vs-2017) what is currently being done is sufficient.
No need to add sound.

[2018-10-15 19:55] #26 closed, assigned to nobody

[2018-10-15 19:56] mrlacey commented on #6
Not going to do this unless Roslyn style code analysis becomes available for F#

[2018-10-15 19:56] #6 closed, assigned to nobody

[2018-10-15 20:02] mrlacey commented on #70
ToDo this will require the ability to generate and assign names as well as setting alignment or positioning properties.

Need to investigate
- [x] Rules for generating suitable names
- [x] Tracking the name of the previously generated name for use in subsequent properties
- [x] Is it enough to just work with the `Below` sibling position or omit if first property generated

[2018-10-16 19:52] #48 closed, assigned to nobody

[2018-10-24 14:21] mrlacey opened #83 "Make adding Grid.RowDefinitions easier"
Adding a new row to a Grid (anywhere but at the bottom) means manually changing the assigned row numbers of elements within the grid. This is a laborious process and prone to errors.

It would be great to make this simpler.

**Proposed way of making this simpler**
Adding a context menu option for an existing RowDefinition that will duplicate that entry and increment all usages of the Rows that are

[2018-10-29 12:13] luizhj opened #84 "VSIX - Correct license folders EULA.RTF"
Correct the main license on source.extension.vsixmanifest from "EULA.rtf" to "License\EULA.rtf".

Correct the license folders on \language\Extension.vsixlangpack
from "<License>..\Content\EULA.<language>.rtf</License>"
to "<License>..\License\EULA.<language>.rtf</License>"

If the Extension Installer can't find the License it doesn't let you install the extension in a normal visual studio.

[2018-10-29 12:52] luizhj opened #85 "Error trying to import the exported file from "Xamarin.Forms C# StackLayout" profile configuration"
**Describe the bug**
I just exported the "Xamarin.Forms C# StackLayout" profile configuration and get a error when trying to import.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Tools -> Options -> Rapid XAML Toolkit
2. Click on Xamarin.Forms C# StackLayout
3. Click on Export.
4. Click on Import and select the file with the exported configuration.

Error:
![image](https://user-image

[2018-10-29 12:53] mrlacey commented on #83
PoC in https://github.com/Microsoft/Rapid-XAML-Toolkit/tree/Issue83

[2018-10-29 13:00] mrlacey commented on #84
@luizhj  good catch

[2018-10-29 13:01] #84 closed, assigned to nobody

[2018-10-29 14:07] mrlacey commented on #85
All default profiles are reporting this issue it's not just the XamForms profile.

Raising an issue with SimpelJsonAnalyzer as Array and ObservableCollection should be treated as equivalent

[2018-10-29 16:37] mrlacey commented on #85
Good find. That issue must have existed for a very long time.
Fixed now though

[2018-10-29 16:37] #85 closed, assigned to nobody

[2018-10-29 18:33] mrlacey commented on #72
This can't go as a separate analyzer as needs the VSIX config to know what to look for and where to look.
Need to look into when/how this should be loaded

[2018-10-30 18:11] mrlacey commented on #72
Will need separate analyzers for C# & VB

[2018-10-30 18:20] mrlacey commented on #72
Need to look at reusing logic from the existing Analyzer classes.

XAML will require a separate analyzer - need to investigate how to report on this.

Where should the location of the issue be reported in the diagnostic? - Will vary based on what's required.
- In the constructor, if related to that
- at start of class if not tied to the constructor

[2018-10-30 20:37] mrlacey commented on #72
Unfortunately it won't be possible to implemetn this.
The Diagnostic would need access to settings but these are tied to the package. By design, a Roslyn diagnostic analyzer cannot cross this boundary so this can't be done.

[2018-10-30 20:37] #72 closed, assigned to nobody

[2018-10-31 13:48] mrlacey opened #87 "Split commands over multiple packages within a single VSIX"
Having to load everything when we need something is likely to get expensive and mean packages are loaded even when most functionality is not needed.
It would be better to create multiple packages that are only initialized when needed.

An obvious way to (initially) divide up functionality would be to combine functionality related to generation (and needs access to settings/profiles) and that which

[2018-10-31 15:56] mrlacey commented on #73
Changing default configs that use StackPanel to include populated header
Keeping 2 Column Grid configs as examples

[2018-10-31 19:22] #73 closed, assigned to nobody

[2018-10-31 19:29] mrlacey commented on #76
Changed name to `Xamarin.Forms StackLayout (XAML + C#)`

[2018-10-31 19:29] #76 closed, assigned to nobody

[2018-11-01 19:02] mrlacey commented on #62
I had a look at trying to trigger the built-in document formatting when generating the View from the ViewModel but there isn't an easy way to determine when the generated file has been opened in the designer (requesting opening the doc is fire-and-forget) and so the command can be correctly applied.
This would have been better than nothing but would have been an incomplete solution to improving fo

[2018-11-02 12:34] PieEatingNinjas commented on #62
The ExecuteCommand does work in, for example, SetDataContextCommand as you have the relevant file open at the moment. Implemented it there and it works nice.

The diffculty is indeed when generating the View file. I got it more or less working though, the only thing I'm currently not able to work around is the fact that whenever the generated view opens in the XAML/Designer split view the "Edit.Fo

[2018-11-02 14:20] mrlacey commented on #62
@PieEatingNinjas yes,  being able to use "Edit.FormatDocument" would be better for files that are generated and opened. Applying the formatting directly will mean that all the generated XAML can be formatted.

[2018-11-02 19:49] mrlacey commented on #62
Have explored in a [branch](https://github.com/Microsoft/Rapid-XAML-Toolkit/tree/Issue62) so instead of getting

![image](https://user-images.githubusercontent.com/189547/47937129-adcc9180-ded7-11e8-920b-5a60e823cd05.png)

now get

![image](https://user-images.githubusercontent.com/189547/47937157-c0df6180-ded7-11e8-9312-48a7d75126a0.png)

Indent amount comes from VS setting for XAML

Haven't yet

[2018-11-02 19:52] mrlacey commented on #71
X-Ref https://github.com/Microsoft/Rapid-XAML-Toolkit/blob/master/docs/default-mappings.md#wpf

[2018-11-02 19:57] mrlacey commented on #87
Will need to review the impact on required localized files and how localized resources are managed

[2018-11-03 12:05] PieEatingNinjas commented on #62
Looks good!

- C#/VB formatting can be easily done by triggering the FormatDocument command ([see my commit](https://github.com/PieEatingNinjas/Rapid-XAML-Toolkit/commit/a1825ba612dec944feb4796acf622a6918c9a32d))
        (if you want to take this approach, I think we could create an extension method on DTE which triggers the format command so that we can easily call it wherever code is generated

[2018-11-05 10:38] mrlacey commented on #62
The FormatDocument command only works on C#/VB code in the activedocument window. It doesn't work for newly created files that aren't open.

There's a balance that needs to be found with making sure that generated code added to a document that already exists matches the formatting of existing code and not doing more than advertised/expected.
If a person selects a command "Set Datacontext" and it a

[2018-11-05 16:07] mrlacey commented on #62
So, I gave in and wrote the code to reformat all XAML. Even that copied to the clipboard or toolbox.
The least fun part was changing all the expected values in dozens of tests so the expected XAML was indented as it should be.

[2018-11-05 17:07] luizhj opened #89 "VStudio crashes when creating view with a list of a object that contains a list."
**Describe the bug**
VStudio crashes when creating view with a list of a object that contains a list.

**To Reproduce**
I started a simple Recipe app only for study and on a Recipe there is a list of Ingredient and a list of Instruction (step).
It is on this [repo](https://github.com/luizhj/cortanarecipes/tree/master)
Try to generate a view from MainViewModel using this part of the code:
`       p

[2018-11-06 14:23] mrlacey commented on #89
@luizhj nice find.
I have a fix and will merge it into master (hopefully) later today.

You said it was making VS crash for you but this shouldn't be the case. It should just fail silently and report the error to the output window.
Did you build a VSIX and then install it locally? Or are you using it another way?

[2018-11-06 14:32] luizhj commented on #89
I have compiled on release mode and installed the VSIX on my main VStudio.

The VS freeze and windows show on the title bar of the software "this program stop working" and after some seconds it close the window and restart the vs.

*sorry for my bad english, i'm from Brazil :)

[2018-11-06 14:34] mrlacey commented on #89
Thanks. It shouldn't crash, so I'll look at that as well.

[2018-11-06 15:51] luizhj commented on #89
In time, i would like to thank you for your work.
I loved the time this extension is saving me on my work.

Please tell me if i can help more.

[2018-11-06 19:46] mrlacey opened #90 "For launch - Don't crash upon error"
Remove rethrowing of errors in exception handlers when properly launch.

Leave these in for now, even though they may cause VS to crash as it should make any errors really obvious and hopefully this will then allow them to be reported and fixed.

X-Ref #89

[2018-11-06 20:06] mrlacey commented on #89
@luizhj I've just merged the code to allow the correct generation of XAML from your model.
It just output this from your repro project.

    <StackLayout>
        <ListView ItemsSource="{Binding Recipes}">
            <ListView.ItemTemplate>
                <DataTemplate>
                    <ViewCell>
                        <StackLayout>
                            <Label Text="{Binding Id}" />

[2018-11-06 20:08] #62 closed, assigned to nobody

[2018-11-06 20:15] #83 closed, assigned to nobody

[2018-11-07 16:02] mrlacey commented on #70
Plan to add two new placeholders
- **$xname$**
- **$lastxname$**

$xname$ will be a generated string value based on the property name and the element type.
$lastxname$ will be the last defined $xname$. If this is blank the attribute using this will be omitted.

A new default profile will be created that will use a RelativePanel and the above but positioning everything below the first created eleme

[2018-11-07 19:23] mrlacey commented on #70
repxname, rather than lastxname
to match the convention of $repint$

[2018-11-08 13:02] mrlacey commented on #70
Can now create XAML like this:
![image](https://user-images.githubusercontent.com/189547/48200164-32933180-e356-11e8-9164-ec5bf74b39e1.png)

[2018-11-08 13:02] #70 closed, assigned to nobody

[2018-11-08 13:04] mrlacey commented on #59
Verified.
Closing now to tidy up

[2018-11-08 13:04] #59 closed, assigned to mrlacey

[2018-11-08 13:05] mrlacey commented on #16
X-Ref #8

[2018-11-08 14:15] mrlacey commented on #16
Visualizer

![image](https://user-images.githubusercontent.com/189547/48203787-46dc2c00-e360-11e8-9029-4c2f8f91098e.png)

Dynamically updates as text changes

[2018-11-09 20:40] mrlacey opened #95 "Get tests running on AppVeyor (PR) build"
Currently using a solution with just the VSIX project in it to have a build check before merging PRs.
The test project is failing to build when part of that solution. but it needs to run so tests can be confirmed before a merge.

X-Ref #9

[2018-11-12 18:32] mrlacey commented on #5
Yes

No

[2018-11-13 14:10] mrlacey commented on #5
Works well

![dragdropxamlcreate](https://user-images.githubusercontent.com/189547/48418505-5dfa8f80-e74d-11e8-9dc9-e54a3c1648cb.gif)

[2018-11-13 19:29] mrlacey commented on #89
@luizhj Have you been able to confirm the above-mentioned change stops the problem you were seeing with nested generic collections?

[2018-11-13 19:34] mrlacey opened #96 "Detect assigned Grid.Row and Grid.Column values without equivalent definitions"
Add a platform agnostic analyzer that checks that assigned row and column assignments for grids have appropriate definitions.

Assigning a value that doesn't have an appropriate definition doesn't cause any design, build, or runtime error but can lead to unexpected UI behavior. Catching this as early as possible in the development process can help save time when debugging UI issues.

[2018-11-13 19:40] mrlacey opened #97 "Create missing Grid RowDefinitions and ColumnDefinitions based on usage"
To work in parallel with the analyzer defined in #96

Be able to create missing RowDefinitions and ColumnDefinitions based on their assignment to elements within the grid.

e.g. If a grid only has 3 rows defined but an element is specified with `Grid.Row="4"` two more row definitions should be added.

The height or width of the added definition should match that of the previous highest value. If n

[2018-11-13 19:41] mrlacey commented on #45
CI/nightly builds should continue to have extended logging enabled by default.

[2018-11-13 19:43] mrlacey commented on #96
Create this in an analyzer to make it available to any project, even if not using RXT.VSIX

[2018-11-13 19:49] mrlacey opened #98 "Detect Keyboard entry field without a SIP defined"
Need different output (analyzers) for UWP & XamarinForms

UWP should check for the `Textbox` without an `InputScope` attribute.
XamarinForms should check for the `Entry` without a `Keyboard` attribute.

Not specifying the SIP to use can lead to an interface that isn't appropriately optimized for use and so can make it harder for the person using the app to enter the characters/values they want. Re

[2018-11-13 19:53] mrlacey opened #99 "VSIX should detect projects without appropriate analyzers installed"
When opening a solution, check that projects have appropriate analyzer nuget packages installed. On finding any projects that don't, prompt for their installation and if this is accepted, the analyzers should be added to the appropriate projects.

Do this to encourage the use of the analyzers and as a way of combining the functionality split across the VSIX and the analyzers.

Allow for solutions

[2018-11-14 10:45] luizhj commented on #89
Hi @mrlacey
I didn't have time to try again.
I will try it out and report later.

[2018-11-14 11:08] luizhj commented on #89
The problema was solved.
I just updated the extension and tested the same code that had crashed and this time the result view was ok.

In time, all the code was correctly indented.

![image](https://user-images.githubusercontent.com/16191002/48478945-e67c3d00-e7ec-11e8-97b5-d6b9b33bcc46.png)

[2018-11-14 12:58] mrlacey commented on #89
good to hear

[2018-11-14 12:58] #89 closed, assigned to nobody

[2018-11-14 16:54] #95 closed, assigned to nobody

[2018-11-14 19:09] mrlacey opened #100 "Verify all VB functionality and check test code coverage."
There are no tests looking at `Module` usage but code exists for this in the analyzers but isn't working in all scenarios.

[2018-11-14 21:03] #5 closed, assigned to mrlacey

[2018-11-15 12:49] mrlacey commented on #8
In terms of theming, commands and menu options are automatically styled by VS.

For the options dialogs, it appears the correct behavior is
- Don't reflect the VS theme
- Don't reflect the Windows System theme
- Do reflect system font scaling
- Do reflect system high contrast settings

[2018-11-15 12:55] mrlacey commented on #8
For Font styling see https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/fonts-and-formatting-for-visual-studio?view=vs-2017

For screen layout see https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/layout-for-visual-studio?view=vs-2017

Check everything against https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/evaluation-tools-f

[2018-11-15 13:13] mrlacey commented on #38
also check https://gist.github.com/madskristensen/7310c0d61694e323f4deeb5a70f35fec

[2018-11-15 21:14] mrlacey commented on #45
This needs to be changed for release builds, not upon reaching a 1.0 release.

[2018-11-15 21:23] mrlacey commented on #16
Notes
- syntax highlighting must support high contrast and code-behind may be C# or VB (highlight correctly)

[2018-11-15 21:26] mrlacey commented on #16
Looks a bit like this
![image](https://user-images.githubusercontent.com/189547/48582566-c5b30500-e91c-11e8-8754-cf05567cde32.png)
![image](https://user-images.githubusercontent.com/189547/48582514-addb8100-e91c-11e8-8842-2126f2768682.png)
![image](https://user-images.githubusercontent.com/189547/48582607-d6fc1180-e91c-11e8-8b2c-1304e1d79354.png)

TextEditor control adapts to HighContrast.

Values

[2018-11-15 22:04] mrlacey commented on #16
See links at https://github.com/Microsoft/Rapid-XAML-Toolkit/issues/8#issuecomment-439030639

[2018-11-27 16:20] mrlacey commented on #82
Do this for VSCT files only (at least initially)

Note that this will impact build scripts that customize names for different build versions

[2018-11-29 11:43] mrlacey commented on #82
As build script will now append a bracketed item to the end of some entries for some build scenarios, the localization tool & Resourcecs.resx file should also be updated appropriately.

[2018-11-29 13:41] #100 closed, assigned to mrlacey

[2018-12-06 15:54] mrlacey opened #108 "Add support for VS2019"
Need to be able to
- [ ] Build source
- [ ] Install generated VSIX
- [ ] Verify/test all functionality

[2018-12-11 13:25] mrlacey opened #110 "Crash on sending to Toolbox in compiled VSIX"
**Describe the bug**

Using a built and installed VSIX, send something to the Toolbox.
An error is reported. VS may also crash.

[code]

[2018-12-11 13:25] mrlacey commented on #110
Seems to be a relative path issue.

[2018-12-11 18:51] mrlacey commented on #110
The same issue also appears to be affecting the loading of the config file in the latest build (after merging #107)

[2018-12-11 22:08] mrlacey commented on #110
Close when verified with via the CI build

[2018-12-11 22:11] wasteam opened #112 "Build rxt.dev.ci_20181211.326739 failed"
## Build rxt.dev.ci_20181211.326739
- **Build result:** `failed`
- **Build queued:** 12/11/2018 10:08:03 PM
- **Build duration:** 3.52 minutes
### Details
Build [rxt.dev.ci_20181211.326739](https://winappstudio.visualstudio.com/web/build.aspx?pcguid=a4ef43be-68ce-4195-a619-079b4d9834c2&builduri=vstfs%3a%2f%2f%2fBuild%2fBuild%2f26739) failed

+ Error: C:\Program Files (x86)\Microsoft Visual Studio\

[2018-12-11 22:30] mrlacey commented on #112
Fixed bug that caused tests to fail.
Reinstated build & tests check as part of PR.

[2018-12-11 22:30] #112 closed, assigned to nobody

[2018-12-12 22:55] mrlacey commented on #110
Verified in dev CI build

[2018-12-12 22:55] #110 closed, assigned to nobody

[2018-12-12 22:59] mrlacey commented on #9
This is done on appveyor for PRs and in AzurePipelines for CI & nightly builds.

[2018-12-12 22:59] #9 closed, assigned to nobody

[2018-12-13 09:18] mrlacey opened #114 "Detect unnecessary grids"
Add an analyzer that raises a warning when a grid only contains a single child element.

Grids are rarely useful when they only contain a single child.
Suggest their removal to simplify the visual tree.

[2018-12-13 09:26] mrlacey opened #115 "Detect assigned Grid.Row and Grid.Column values without corresponding definitions"
Add an analyzer to detect grid row/column assignments which don't have corresponding definitions.

E.g. The following should create a warning as there's only a single row is defined.

[code]

Analyzer should report the warning but may need the VSIX to implement a fix.

The fix is to add the missing definitions.

- Must verify if can fix this in the analyzer.
- Need to allow for nested grids.
- May

[2018-12-13 20:29] mrlacey commented on #8
Still to do

- make active profile also bold
- test with environment font
- check use with only keyboard

[2018-12-14 13:53] mrlacey commented on #8
manually verified environment font automatically applied to all text when run in VS

[2018-12-14 14:22] mrlacey commented on #8
Active profile now **bold** in list

![image](https://user-images.githubusercontent.com/189547/50008278-96d78f80-ffab-11e8-8bdb-1564fa806067.png)

[2018-12-16 16:49] #8 closed, assigned to nobody

[2018-12-17 07:48] wasteam opened #118 "Build rxt.dev.version_0.1.18351.01 failed"
## Build rxt.dev.version_0.1.18351.01
- **Build result:** `failed`
- **Build queued:** 12/17/2018 7:45:38 AM
- **Build duration:** 2.53 minutes
### Details
Build [rxt.dev.version_0.1.18351.01](https://winappstudio.visualstudio.com/web/build.aspx?pcguid=a4ef43be-68ce-4195-a619-079b4d9834c2&builduri=vstfs%3a%2f%2f%2fBuild%2fBuild%2f26768) failed

+ F:\ba\_work\27\s\_build\Extension-ReplaceValuesInCo

[2018-12-17 07:57] sibille commented on #118
Typo in build definition

[2018-12-17 07:57] #118 closed, assigned to nobody

[2018-12-18 19:37] mrlacey opened #119 "New lines in import error message not rendered properly"
As per image below, CrLf is not rendered correctly in the error message when attempting to import an invalid profile file.

![image](https://user-images.githubusercontent.com/189547/50178357-2ce91e00-02fc-11e9-8898-f58a0ca82abe.png)

[2018-12-20 09:18] mrlacey commented on #16
Deferring
- [ ] a way to test the transformation of a property **? (if practical)**
- [ ] a way to change multiple mappings at once **? (if practical)**

Will wait until getting specific requests for these rather than delay implementing other features for these "nice-to-haves".

[2018-12-20 09:25] mrlacey commented on #11
Now available from https://www.myget.org/F/rapid-xaml-toolkit-nightly/vsix/

[2018-12-20 20:46] #16 closed, assigned to nobody

[2018-12-20 20:51] mrlacey commented on #11
build now available: ([install instructions](https://github.com/Microsoft/Rapid-XAML-Toolkit/blob/dev/docs/installation.md#nightly-dev-builds))

[2018-12-20 20:51] #11 closed, assigned to nobody

[2018-12-21 11:17] mrlacey commented on #119
The issue is hardcoded values copied to string resources from the original inline strings.

[2018-12-21 19:27] mrlacey commented on #119
![image](https://user-images.githubusercontent.com/189547/50359952-66b56100-0556-11e9-9f0a-499868c42788.png)

[2018-12-21 19:27] #119 closed, assigned to nobody

[2018-12-22 19:02] mrlacey commented on #99
No longer needed. All functionality will now go in the VSIX and not rely on separate analyzers.

[2018-12-22 19:02] #99 closed, assigned to nobody

[2019-01-08 10:44] mrlacey opened #126 "Move to using VSSDK meta package"
see

https://github.com/madskristensen/Madskristensen.VisualStudio.SDK

https://blogs.msdn.microsoft.com/visualstudio/2018/10/10/simplify-extension-development-with-packagereference-and-the-vssdk-meta-package/

[2019-01-08 17:44] crutkas commented on #126
is this something wts should do as well?

[2019-01-09 10:22] mrlacey commented on #126
meta package doesn't include the following which are needed.

- Microsoft.VisualStudio.LanguageServices
- Microsoft.VisualStudio.Telemetry
- Microsoft.VisualStudio.TextManager.Interop.12.0

[2019-01-10 09:29] mrlacey commented on #126
The SDK meta package works for adding the VS references but the change to using PackageReferences breaks other behavior. Specifically, this is the inclusion of NuGet provided DLLs packaged inside the VSIX.
Other projects have also hit this issue but still no clear workaround. X-Ref https://gitter.im/Microsoft/extendvs?at=5c36863354d8bb07ccc5a233

[2019-01-10 10:31] mrlacey commented on #126
The workaround in https://github.com/NuGet/Home/issues/5899 seems to unblock this

[2019-01-10 12:28] mrlacey commented on #126
Want to test on a nightly build before closing.

[2019-01-10 15:53] mrlacey commented on #108
Not adding building source yet - waiting until move core development to 2019

[2019-01-10 15:57] #108 closed, assigned to nobody

[2019-01-11 20:00] mrlacey opened #131 "Context menu on XAML designer is not updating correctly"
The dynamic context menus are not updating correctly.

Add RowDefinition prompt is displaying relevant to the previous cursor position.

Replace dynamic items in this context menu with ActionSuggestions.

[2019-01-11 20:08] mrlacey commented on #126
Verified 0.1.19011.1
on 16.0.0 p1.1

[2019-01-11 20:08] #126 closed, assigned to nobody

[2019-01-23 19:06] mrlacey commented on #8
For reference, if ever need to revisit this: https://github.com/madskristensen/KnownMonikersExplorer/blob/master/src/ToolWindows/VsTheme.cs

[2019-02-11 23:08] mrlacey commented on #115
Duplicate of #96

[2019-02-11 23:08] #115 closed, assigned to nobody

[2019-02-11 23:12] mrlacey opened #132 "Enable solution wide XAML analysis"
Don't just Parse open XAML docs for issues, but parse all in solution.

This will allow for a more complete error list.

Make this configurable via options>XamlAnalysis.

Will be necessary for detecting scenarios like #27 (inconsistent namespace aliases) as it involves multiple files.

[2019-02-11 23:54] mrlacey opened #133 "Add file and project level fixes"
Add the ability to fix all issues in a file or project from

[ ] context menu on editor
[ ] Tools menu level option

start with localization but needs to allow more

[2019-03-07 20:16] mrlacey commented on #82
Started exploring this in https://github.com/Microsoft/Rapid-XAML-Toolkit/tree/Issue82-XliffTasks

Will be a very big change and there are currently some blockers as it's all or nothing

[2019-03-11 16:28] mrlacey opened #134 "Limit XamlAnalysis processors by platform"
Currently, all processors are evaluated for all documents that are parsed.
There is an opportunity for performance improvement by limiting processors to only those appropriate for the platform the document is written for.

Implementing this will require
- [ ] Specifying which processors apply to each platform
- [x] Identifying the platform of each document (from the project or during parsing)

[2019-03-13 20:28] mrlacey commented on #22
See https://gitter.im/Microsoft/extendvs?at=5c896174ac408e119254eb60
for how to tell if other files are open/dirty

[2019-03-13 20:31] mrlacey opened #135 "Investigate enabling dual-pass parsing of documents"
It seems like we'll need to allow the second-pass of documents when parsing them to enable functionality that needs to know what else is in the file.

Based on the way the XAML Analysis parser works, there are things it currently can't do. The aim here is to address such issues.

This will allow for things like not assigning a name/u:Id that is already used later in the document.

This shouldn't n

[2019-03-13 20:33] mrlacey opened #136 "Investigate handling of analysis that involves multiple documents"
Some analysis (such as repeated style extraction) will require analysis from multiple documents. Investigate/explore how best to do this.

X-Ref #27

[2019-03-13 20:35] mrlacey opened #137 "Suggest missing tags/properties that could aid accessibility"
What can be done to help developers produce more accessible XAML?

Ideas include missing AutomationProperty tags. Need to establish, rules for adding these though and then look at what else could be added too.

[2019-03-13 20:38] mrlacey opened #138 "Analyse applying of styles"
Suggest where
- same style is explicitly applied in multiple places but could be a style
- repeated setting of properties that could be combined into a style
- inconsistent styling being applied (between pages?)
- existing styles not being used but could be
- implicit styling not being applied.
- more...?

[2019-03-13 21:28] mrlacey commented on #114
**Review this.**

If the only element in a page/control then may need the grid for layout purposes.

Also, review if other container controls should be prompted for having a single child.
ListBox/ListView/StackPanel/ScrollViewer are also potentially questionable if only have one child.

[2019-03-14 09:21] mrlacey commented on #87
Re-Open if this becomes something that's needed.
Now expecting fewer commands so don't see a benefit in this.

[2019-03-14 09:21] #87 closed, assigned to nobody

[2019-03-14 16:45] #96 closed, assigned to nobody

[2019-03-14 16:45] #97 closed, assigned to nobody

[2019-03-14 16:45] #98 closed, assigned to nobody

[2019-03-14 16:45] #131 closed, assigned to nobody

[2019-03-14 20:06] mrlacey opened #140 "Make XamlAnalysis warning levels configurable"
Currently, XamlAnalysis warning levels are hard coded as either Warning or Suggestion/Message.

These should be made configurable.

The configuration will be at the project level.

If `settings.xamlanalysis` is included in the root of the project (any build action) it can be used to contain overrides to default report levels.

File contents should be a JSON format list of codes and warning.

Examp

[2019-03-14 20:33] mrlacey opened #141 "Allow suppressing of XamlAnalysis warnings"
There may be times where a XamlAnalysis warning should be turned on (for a project) but a specific warning is invalid. e.g. for a string that should not be localized/put in a resource file but all others should.
Need a way to handle this.

I suspect a separate suppressions file may be needed.
Investigation and planning required once specific examples of issues are known.

[2019-03-22 17:10] mrlacey opened #145 "Drag&Drop doesn't attempt automatic document formatting"
**Describe the bug**
Generated UI Elements are not indented correctly after dragging the VM onto the view.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable 'Attempt automatic document formatting' in the profile
2. Drag a VM onto a view
3. Controls are created with no indentation

**Expected behavior**
Based on the configured property in the profile, the added controls should be left pa

[2019-03-22 23:58] mrlacey opened #146 "Suggestions wanted: What XAML analysis would you like to see?"
Got any ideas for things you'd like to see highlighted in the XAML Analyzer?

Please leave suggestions below.

[2019-03-23 00:13] mrlacey opened #147 "Make multiple changes within a file as a single undo action"
Individual fixes currently handle creating an undo action themselves.
When making multiple changes in a doc at once, they should all be reversible with a single undo action.

[2019-03-23 00:22] mrlacey opened #148 "Remove ''Create View' and 'Set DataContext' options"
The ability to create an entire view (inc code-behind) from a ViewModel and the ability to highlight places where data context or other expected code in the code-behind is not set adds a lot of complexity to profile configuration.

Feedback has also been provided that these pieces of functionality are of much lesser importance.

Removing these capabilities would greatly simplify configuration and

[2019-03-23 00:27] mrlacey opened #149 "Don't require profile to be selected before use"
Once first installed, it would be much preferred (by many who have told me) that the functionality could be immediately available, without the need to first select a profile.

Doing this would require the need to be able to provide a useful, framework agnostic profile to use as the default.

X-Ref #148

[2019-03-23 00:39] mrlacey opened #150 "Have separate configurable profiles for each platform"
Rather than just specifying a single active profile, it would be preferable to specify different selected profiles for WPF, UWP, and Xamarin.Forms projects.

This would remove the need to keep switching active profile when switching between projects. (Some people have expressed concern over this.)

For the most part, it should be easy to know which type of project to generate for but there are a f

[2019-03-29 15:19] mrlacey opened #153 "Enable per project Gen profiles"
Rather than switch profile when working with different projects, it would be good to be able to specify the profile to use with each particular project.

The most appropriate way to do this seems to be to include a **Settings.rxprofile** file in the project (solution?) and that overrides the configured active profile in the options.

Having a file means multiple people working on a project can all

[2019-04-01 11:20] mrlacey opened #157 "Rename 'RapidXaml.VSIX' folder"
rename to just "VSIX"

- shorter folder paths
- removes unnecessary duplication of the project name
- still allows distinguishing of extension from possible other future capabilities.

Note. May impact devops.

[2019-04-01 11:32] wasteam opened #159 "Build rxt.dev.ci_20190401.327439 failed"
## Build rxt.dev.ci_20190401.327439
- **Build result:** `failed`
- **Build queued:** 4/1/2019 11:32:25 AM
- **Build duration:** 0.18 minutes
### Details
Build [rxt.dev.ci_20190401.327439](https://winappstudio.visualstudio.com/web/build.aspx?pcguid=a4ef43be-68ce-4195-a619-079b4d9834c2&builduri=vstfs%3a%2f%2f%2fBuild%2fBuild%2f27439) failed

+ Error: Not found files: E:\Agent\_work\31\s\RapidXAML.VS

[2019-04-01 12:35] wasteam opened #160 "Build rxt.dev.ci_20190401.427440 failed"
## Build rxt.dev.ci_20190401.427440
- **Build result:** `failed`
- **Build queued:** 4/1/2019 12:31:30 PM
- **Build duration:** 4.07 minutes
### Details
Build [rxt.dev.ci_20190401.427440](https://winappstudio.visualstudio.com/web/build.aspx?pcguid=a4ef43be-68ce-4195-a619-079b4d9834c2&builduri=vstfs%3a%2f%2f%2fBuild%2fBuild%2f27440) failed

+ Error: The process 'C:\Program Files (x86)\Microsoft Vis

[2019-04-01 12:37] mrlacey opened #161 "Create analysis info pages"
Everything listed in https://github.com/Microsoft/Rapid-XAML-Toolkit/blob/dev/docs/warnings/index.md should have a dedicated page with more details.

- [x] RXT101 (Use of a Grid.Row value without corresponding RowDefinition.)
- [x] RXT102 (Use of a Grid.Column value without corresponding ColumnDefinition.)
- [x] RXT103 (Use of a Grid.RowSpan value without corresponding ColumnDefinition.)
- [x] RXT

[2019-04-01 12:38] mrlacey commented on #160
dupe of #159

[2019-04-01 12:38] #160 closed, assigned to nobody

[2019-04-01 12:38] mrlacey commented on #159
Caused by #158 (folder rename)

[2019-04-01 12:40] mrlacey commented on #159
@sibille please can you update the path(s) on the build server

[2019-04-01 12:44] mrlacey commented on #159
looking at the log I see a reference to

this is the wrong folder and the wrong solution file.
It should be `E:\Agent\_work\31\s\VSIX\RapidXamlToolkit.PRBuild.sln`

This soluton file excludes things that don't need to be (or shouldn't be) built or tested, such as manual only tests.

[2019-04-01 12:49] mrlacey opened #162 "Add suggested action for RXT150"
Should add a default Keyboard.

Ideally, review what also know about the element/property and suggest something more appropriate if can.

[2019-04-01 12:51] mrlacey opened #163 "HardCodedStringAction needs to support WPF & X.F"
Currently only works with RESW files and assumes UWP style localization.

[2019-04-01 12:54] mrlacey opened #164 "Add testing of $nooutput$ placeholder"
Add appropriate tests

[2019-04-01 12:58] mrlacey opened #165 "Refresh error list when file invalid"
Need to define when to remove items from the error list when the document is invalid. So don't leave old errors listed.

Also, need to decide if leave entries for subsequently closed files while solution-wide analysis is not available.

[2019-04-01 13:02] mrlacey opened #166 "Add SuggestedAction for RXT401"
Add missing event and name accordingly.

If possible, base name on the name of the existing event but add/remove 'un' as appropriate.
If can't determine a name based on the other event, set name like the default VS would use.

Don't worry about adding the handler for the event, just set the name. VS can generate the handler.

[2019-04-01 13:03] mrlacey opened #167 "Add SuggestedAction for RXT402"
Rename element.
Let VS deal with any negative consequences

[2019-04-01 13:06] mrlacey opened #168 "Add SuggestedAction for RXT451 & RXT452"
For initial implementation just change the use in the XAML element.
Let VS flag the consequences of this change and allow the developer to fix appropriately.

Future considerations
- Use of name elsewhere in the same file (e.g. relative path bindings).
- Use of name in the code-behind file.
- Use of name in resource(s) files.
- Use of name elsewhere in the codebase.

[2019-04-01 13:36] mrlacey commented on #162
There already is an action for this.
Review adding extended analysis for doing more than always setting default.

[2019-04-01 14:11] mrlacey opened #170 "Update docs"
Everything under https://github.com/Microsoft/Rapid-XAML-Toolkit/tree/dev/docs is very out of date.

Remove everything that's no longer relevant and add details of new functionality.

Also need to update main readme.

[2019-04-01 14:50] #166 closed, assigned to mrlacey

[2019-04-01 14:52] mrlacey commented on #159
All working again now :)

[2019-04-01 14:52] #159 closed, assigned to nobody

[2019-04-01 19:35] #167 closed, assigned to mrlacey

[2019-04-02 05:00] wasteam opened #173 "Build rxt.dev.version_0.1.19092.01 failed"
## Build rxt.dev.version_0.1.19092.01
- **Build result:** `failed`
- **Build queued:** 4/2/2019 5:00:02 AM
- **Build duration:** 0.17 minutes
### Details
Build [rxt.dev.version_0.1.19092.01](https://winappstudio.visualstudio.com/web/build.aspx?pcguid=a4ef43be-68ce-4195-a619-079b4d9834c2&builduri=vstfs%3a%2f%2f%2fBuild%2fBuild%2f27455) failed

+ Process completed with exit code 2.

Find detailed in

[2019-04-02 09:07] mrlacey commented on #173
@sibille it looks like it's looking for a signing key in the old location. I presume this is the nightly build but there's nothing obvious, other than the time, that makes this obvious.

[2019-04-02 10:09] mrlacey commented on #162
Added some simple checking to suggest more than just "Default".

![image](https://user-images.githubusercontent.com/189547/55394606-9998c900-5537-11e9-8754-0215a51bf006.png)

May also suggest "Email", "Telephone", or "Url"

[2019-04-02 10:24] #162 closed, assigned to mrlacey

[2019-04-02 15:25] #157 closed, assigned to mrlacey

[2019-04-02 17:44] mrlacey commented on #168
Will add separate suggested actions for these issues so they can be expanded separately to allow for different future considerations for Uid vs Name

[2019-04-02 18:57] mrlacey opened #175 "Ensure correct VS Activity Logging"
Review if/when we should be logging to the activity log.

For how, see: https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-the-activity-log?view=vs-2019

[2019-04-02 19:03] mrlacey opened #176 "Review actions that shouldn't be available while the project is being built"
Do certain actions need to be disabled during a build?

Anything that modifies code is a contender.

Consider for XAMLGen & XAMLAnalysisActions

For how to check: https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.interop.ivssolutionbuildmanager.updatesolutionconfigurationisactive?view=visualstudiosdk-2017

[2019-04-02 19:32] #168 closed, assigned to mrlacey

[2019-04-03 11:05] mrlacey opened #179 "Extend Textbox.InputScope suggested actions"
Suggested actions for `Entry.Keyboard` can suggest more than just "Default".
Suggested actions for adding an `InputScope` to `TextBox` should also do this.

[2019-04-03 12:43] #161 closed, assigned to mrlacey

[2019-04-03 12:45] mrlacey commented on #22
#148 makes this redundant

[2019-04-03 12:54] mrlacey opened #181 "Enable extract string resource for TooltipService.ToolTip"
RXT200 should be able to extract hard-coded strings in `TooltipService.ToolTip` to the resource file.

[2019-04-03 13:05] sibille commented on #173
my fault, adjusted and ran a new build that succeeded

[2019-04-03 13:05] #173 closed, assigned to nobody

[2019-04-03 13:17] mrlacey commented on #175
Received [advice](https://gitter.im/Microsoft/extendvs?at=5ca3c5060aad63501919ad54) is to log what is deemed useful. Between Telemetry and Output Pane details we already have a lot covered, I plan to just log exceptions to the VS activity logger.

[2019-04-04 13:20] mrlacey opened #182 "Error in Error List table link"
Error in link

https://github.com/Microsoft/Rapid-XAML-Toolkit/blob/dev/VSIX/RapidXamlToolkit/ErrorList/TableEntriesSnapshot.cs#L89

should be
`content = $"https://github.com/microsoft/Rapid-XAML-Toolkit/tree/master/docs/warnings/{error.ErrorCode}.md";`

[2019-04-04 13:41] mrlacey opened #183 "Error parsing XAML"
**Error**

[code]
**XAML**

[code]

[2019-04-04 13:55] mrlacey commented on #183
WPF

Probably this

[code]

where `IsChecked` is being matched for `Checked`

[2019-04-04 19:42] mrlacey commented on #22
Changes made for #148 make this redundant

[2019-04-04 19:42] #22 closed, assigned to mrlacey

[2019-04-04 19:42] #148 closed, assigned to mrlacey

[2019-04-07 19:17] mrlacey opened #185 "default CaliburnMicro profile needs to map commands correctly"
Default mapping profile(s) for Caliburn.Micro need to use `cm:Message.Attach` rather than bind to commands like other MVVM profiles.

[2019-04-08 11:27] mrlacey commented on #183
Fixing as a priority as affecting me via nightly build

[2019-04-08 12:02] mrlacey commented on #183
`Checked` vs `IsChecked` isn't the issue here but fixing that too.

[2019-04-08 12:14] mrlacey commented on #183
The issue was an opening element immediately followed by a new line.
e.g.

[code]

[2019-04-08 12:53] #183 closed, assigned to nobody

[2019-04-08 13:29] mrlacey commented on #71
No framework, MVVM Light, & Prism should all be the same

[2019-04-08 15:33] #71 closed, assigned to mrlacey

[2019-05-03 21:26] mrlacey opened #188 "Support use of property attribute with fallback"
Follow on from #57

Need a way to use an attribute if it exists, but if not, fall back to using a placeholder dependent upon the property.

e.g. If a property has a `[Display(Name: ShortName)]` attribute, use that but if not use `$namewithspaces$`.

[2019-05-03 22:34] mrlacey commented on #57
Example:
`$att:MaxLength: MaxLength=\"[1]\"$`

- `$att:` indicates the start of an embedded attribute.
- `MaxLength` name of the attribute. (can be `MaxLength` or `MaxLengthAttribute` in usage)
- `:` indicates the end of the name.
- ` MaxLength=\"[1]\"` the content to display in the output
-- `[1]` replaced with the first parameter passed to the attribute
-- `[xxx]` also works with named parameter

[2019-05-03 23:25] #57 closed, assigned to mrlacey

[2019-05-04 23:21] mrlacey opened #190 "Grids should add an extra star row at the bottom"
outputting two fields in a grid should create

[code]

currently, it outputs this

[code]

Current behavior leaves last row bigger than the rest

[2019-05-04 23:31] mrlacey commented on #190
But not for nested grids/sub-properties

[2019-05-04 23:54] #190 closed, assigned to mrlacey

[2019-05-05 15:24] mrlacey opened #192 "Clear ErrorList when close project"
Error list entries should be removed from view when the containing project is closed or unloaded.

[2019-05-05 15:53] mrlacey opened #193 "Suggest when `SelectedItem` not bound in TwoWay mode"
`SelectedItem` is almost always defined when an action is wanted when the selected item changes.
If the attribute is bound then need TwoWay mode so that the change is communicated back to the VM.

ID: RXT160

[2019-05-06 05:31] #193 closed, assigned to mrlacey

[2019-05-06 05:34] #182 closed, assigned to nobody

[2019-05-06 16:22] mrlacey opened #196 "XamlElementExtractor must find elements with custom Namespaces"
Currently, if searching for `DataGrid` elements.

It will find `<DataGrid />`
But it won't find `<controls:DataGrid />`

It should find both.

In the future, expect to need to pass the xmlns to the processor too but will add that when needed.

[2019-05-06 17:19] #196 closed, assigned to mrlacey

[2019-05-07 16:01] mrlacey opened #199 "Simplify tag creation"
Don't pass in line number and column each time.

They can be calculated internally based on the span and snapshot.

[2019-05-08 06:51] mrlacey opened #201 "Allow a mapping rule to be defined on an attribute"
Requires
- Type mapping to operate on a wildcard (or blank?)
- Need a new mapping field for the attribute name(s)

Reason:
need a way to support the inclusion of a property in the output purely based on an attribute.

#SuggestedAtBuild

[2019-05-08 06:58] #140 closed, assigned to mrlacey

[2019-05-13 17:12] mrlacey opened #202 "Add a VSConfig file to the solution"
To make it easier for anyone else working with the code base.

X-Ref https://docs.microsoft.com/en-us/visualstudio/install/import-export-installation-configurations?view=vs-2019

[2019-05-13 17:26] mrlacey opened #203 "Enable Property conversion within the ViewModel"
Not directly XAML but,

Often, when working with a VM it becomes necessary to convert a simple property to a dependency property or one that raises the PropertyChanged event.

Yes, it's possible to change things manually but that's error-prone.
It's also possible to delete the existing property and recreate one (using snippets) with the same name, but this seems like overkill.

#SuggestedAtBuild

[2019-05-13 17:31] mrlacey commented on #203
This was suggested by someone who watched the sneak peek at Build.

It's not directly XAML related but there's some connection.
I like this idea:
- it'd be simple to do
- I like the idea that I can quickly define all the needed properties using a simple auto-property definition and then change them as necessary.

Wider thoughts/input wanted.

[2019-05-13 17:44] mrlacey opened #204 "Add pause & refresh feature to the visual designer"
The visual designer can often be slow to refresh or can repeatedly try and reload even when we, as developers, know it's not going to be able to load anything.

It would be great to be able to pause the designer from reloading when we know it's not going to be able to do so correctly.
Then we should be able to manually force a refresh (or re-enable automatic reloading) when the visual designer is

[2019-05-13 17:46] mrlacey commented on #204
I don't believe that the visual designers currently have extensibility points that would make this possible for a 3rd party extension.
Will escalate to the XAML designer team directly if others think this would be useful.

[2019-05-13 17:51] mrlacey opened #205 "Add the ability to extract styles from an element"
When the properties of an element have been changed it would be great to be able to extract those values to a style that can then easily be applied to other elements.

#SuggestedAtBuild

[2019-05-13 18:04] mrlacey commented on #205
This is a great idea and manipulating styles is a wonderful way of working with the XAML Analysis capabilities.

Analyzing styles is already documented as #138 but this would be a great way to begin work in this area.

My initial thought is to extract the style to the document level until support the ability to work with multiple files (#136)

Need to consider/define:
- What element to apply this

[2019-05-13 20:59] mrlacey opened #206 "Split toolkit into multiple packages"
With this toolkit containing, potentially, many different tools that may not be wanted or needed by everyone, how should they be packaged so that we balance:
- Making new functionality available to people with the toolkit already installed.
- Not forcing all functionality on everyone.
- Making it easy to manage the project and not end up with lots of separate installable elements to administer.

T

[2019-05-13 21:10] mrlacey opened #207 "Smarter "Surround With..." option"
The XAML context menu has a "Surrounds With..." feature that allows the entry of a tag to surround the selected XAML.

This new functionality would add a version of this that provides options for all the elements that support arbitrary content.
This would not just be the standard types but also include any custom controls included in the project or any installed 3rd party controls (either locally

[2019-05-13 21:15] mrlacey opened #208 "Help debug binding failures"
Debugging why bindings are failing or not behaving as expected can be tricky.

Can anything be done to make this easier?

#SuggestedAtBuild

[2019-05-13 21:18] mrlacey opened #209 "Generate row headers and widths"
When generating XAML from code, and that XAML will be displayed in a `Grid`, is there a way to generate a list of headers and specify column widths?

#SuggestedAtBuild

[2019-05-13 21:20] mrlacey commented on #209
This might push the limits of what's possible with **$subprops$** and the use of attributed properties but may be possible.
Requires investigation into whether current functionality makes this possible.

[2019-05-13 21:23] mrlacey commented on #134
Also dependent upon #150

[2019-05-14 11:25] mrlacey commented on #141
While Roslyn analyzers use assembly level attributes and inline comments to track exclusions I don't think this is appropriate here.

Adding inline comments to XAML can have issues with tooling and adds a lot of extra clutter to the documents.
Adding assembly level attributes would mean requiring separate implementations for C# & VB which I'd like to avoid.

Need to document:
- rule
- file with th

[2019-05-17 01:02] mrlacey opened #210 "Detect invalid XAML which the designer doesn't report"
In the image below, the highlighted text has been pasted onto the wrong row. It should be within the binding on the ItemsSource property.

The VS Designer didn't spot or report an issue here and it wasn't until a non-obvious error occurred during compilation that any problem was noted.

![image](https://user-images.githubusercontent.com/189547/57896177-52486c80-7847-11e9-86b0-ba1e032ebe89.png)

Ad

[2019-05-21 12:56] mrlacey opened #211 "Add ability to generate analysis suppressions"
Add a suggested action that can work with any Display Tag to add a suppression for the tag.

Should:
- Create appropriate suppression file if doesn't exist
- Add to an existing file if one exists
- Add appropriate element filter (will vary by tag)

Also, investigate adding the option to the ErrorList.

[2019-05-21 12:56] mrlacey commented on #211
This is a follow on from #141

[2019-05-21 14:09] mrlacey commented on #141
So, this file (in the root of the project)

`suppressions.xamlAnalysis`
[code]

Stops this being reported as a hard-coded string.

`Views\MainPage.xaml`
[code]

Multiple suppressions can be included in a file (it's just a JSON formatted list)

`TagErrorCode` is optional and if not specified will apply to all tags on the file.
`FileName` is required. Matching is case sensitive and done from the end

[2019-05-21 14:48] #141 closed, assigned to mrlacey

[2019-05-21 19:13] #202 closed, assigned to mrlacey

[2019-05-22 09:26] #147 closed, assigned to nobody

[2019-05-22 15:07] mrlacey commented on #192
Adding support for removing items from the errorlist when a document or the solution is closed.

This probably won't handle all relevant cases when (if?) solution wide analysis (#132) is added but can look at that then.

[2019-05-22 15:08] mrlacey commented on #132
Moving to backlog as this is a big change and so want to wait until people start specifically asking for it before doing the work.

[2019-05-22 15:14] #192 closed, assigned to nobody

[2019-05-22 15:19] mrlacey commented on #165
No

[2019-05-22 15:55] mrlacey commented on #165
errors are already removed from the error list if the document is made invalid

[2019-05-22 15:55] #165 closed, assigned to mrlacey

[2019-05-23 09:29] mrlacey opened #217 "Add unit tests for all XAML Analysis processors"
Coverage is currently very low.
Add basic test coverage for all functionality as this will be a baseline for future contributions

[2019-05-24 19:53] mrlacey commented on #188
Extend the [current format](https://github.com/microsoft/Rapid-XAML-Toolkit/issues/57#issuecomment-489260665) to allow an optional final, fallback section.

From `$att:MaxLength: MaxLength=\"[1]\"$`
To `$att:MaxLength: MaxLength=\"[1]\"::@namewithspaces@$`

- `$att:` indicates the start of an embedded attribute.
- `MaxLength` name of the attribute. (can be `MaxLength` or `MaxLengthAttribute` in us

[2019-05-24 20:20] #188 closed, assigned to mrlacey

[2019-05-26 15:08] #217 closed, assigned to mrlacey

[2019-06-10 14:56] mrlacey opened #220 "Duplicate ErrorList entries and Actions in VS2019"
Some errors are showing up twice in the ErrorList and also in the Actions list.
No consistent repro but has been seen in various situations/properties but only in VS2019

![image](https://user-images.githubusercontent.com/189547/59204217-167b9b00-8b98-11e9-82a3-aad70f5c4767.png)

[2019-08-09 19:34] mrlacey opened #222 "Update installer to only target VS2019"
VS2017 support is provisionally dropped by #221
Remove installer references, etc. that make VS2017 a target.

[2019-08-09 19:48] mrlacey opened #223 "Fix CI & Nightly builds on AzurePipelines"
Now requiring VS2019 to build the project.
Azure Pipelines definitions need updating accordingly.

X-Ref #221

[2019-08-11 18:13] mrlacey opened #224 "Notice for nightly build users [IMPORTANT]"
**If you're currently using a nightly build, your current configuration will break when you update to the next nightly build.**

Despite the name, the nightly build is unlikely to happen for a few days so consider this a warning.

If you have customized profiles, you are advised to export them so they are not lost. You may need to manually re-enter them after the update though. Please let me know

[2019-08-11 18:34] mrlacey commented on #149
Not having the "framework agnostic profile" but getting everything else wanted here as part of the work for #150.

Can now have different active profiles for UWP, WPF, and Xamarin.Forms.
If no active profile set (although they will be set out of the box and the only way to unset would be to remove the profile) then will choose one available option for that project type.
Can also have a "fall back"

[2019-08-12 13:32] mrlacey commented on #223
Also, need to bump version number on the nightly build to 0.2.*

[2019-08-13 08:41] mrlacey commented on #137
Need to consider how to add these in ways that support localization too.

From elsewhere:

[2019-08-13 10:07] #149 closed, assigned to mrlacey

[2019-08-13 10:07] #150 closed, assigned to mrlacey

[2019-08-13 10:28] #222 closed, assigned to mrlacey

[2019-08-13 10:35] mrlacey commented on #220
This is no longer occurring.
Have seen in other extensions as well and suspect this is a consequence of an extension built with VS2017 being run in VS 2019

[2019-08-13 10:35] #220 closed, assigned to nobody

[2019-08-13 10:36] mrlacey commented on #163
depends on #134

[2019-08-13 14:32] #134 closed, assigned to nobody

[2019-08-13 15:17] mrlacey commented on #145
indentation is done based on the line of the drag position

if the line has spaces on it, for the indentation (VS adds these by default) then subsequent lines will be padded accordingly.
If the line is blank, no additional padding is added.

The bug reported is the correct behavior but there is a separate, related bug.

If a line has 8 spaces but the drop target is only 4 characters along the line

[2019-08-13 17:29] #145 closed, assigned to mrlacey

[2019-08-13 19:13] #199 closed, assigned to mrlacey

[2019-08-13 19:19] mrlacey commented on #223
@sibille assigning to you now but not expecting anything until you return from vacation. ;)

[2019-08-13 19:21] mrlacey commented on #224
Details of this change are also in the CHANGELOG and the extension will write details to the output window if an outdated configuration is detected.

Expect this ticket to be closed one week after the next nightly build is made available.

[2019-08-14 15:55] #175 closed, assigned to mrlacey

[2019-08-23 15:27] mrlacey commented on #82
For reference, see also https://github.com/jcansdale/LocalizeVsix

[2019-08-23 15:32] mrlacey commented on #82
Moving back to BackLog.
After a week of investigating this, I'm giving up.
- Issues come from a combination of needing default and en-US translations to keep all projects happy.
- Having resource files in different locations also confuses xlifftasks.
- Localizing multiple resx files causes somewhat of a problem.
- I've also been unable to get dynamically created menutext to localize correctly.
It'

[2019-08-23 22:36] #90 closed, assigned to mrlacey

[2019-08-24 08:06] mrlacey commented on #185
This also needs to be able to generate code based on methods (which it invokes) rather than just properties

[2019-08-24 08:32] mrlacey commented on #185
Handling Caliburn.Micro fully will require the ability to map events (default and defined) to methods. Some of those methods will take parameters. Determining (and configuring) how this should be generated is non-trivial.

Currently, RXT generation is based only on properties. A change to also include looking at methods for generation will be a lot of work. Deferring that work until there's a good

[2019-08-24 08:58] #185 closed, assigned to mrlacey

[2019-08-25 19:38] mrlacey opened #236 "update VSIX verification steps"
https://github.com/microsoft/Rapid-XAML-Toolkit/wiki/VSIX-Verification is out of date.
**UPDATE IT**

[2019-08-26 13:55] #170 closed, assigned to mrlacey

[2019-08-26 14:55] #236 closed, assigned to mrlacey

[2019-08-26 16:29] mrlacey opened #238 "Commented elements being parsed"
Elements are being parsed if they are in a comment and there isn't a space between the end of the comment opening and the start of the element.

`` is incorrectly passed to the ChildProcessor while `` isn't.

[2019-08-26 17:18] mrlacey commented on #238
fixed! :)

[2019-08-26 17:18] #238 closed, assigned to mrlacey

[2019-08-28 13:13] mrlacey opened #240 "XF.Shell related analysis to add"
Tab elements should always have `Title` and `Icon` attributes set.
error type = warning

[2019-08-28 13:16] mrlacey opened #241 "Detect when required NuGet packages aren't installed"
Based on seeing people struggle with using Xamarin.Forms Visual.Material, some potential errors could be detected if the attribute is set but the NuGet package is not installed.

A fix would require attempting to install the relevant package. For the above example, this would need to be in all projects in the solution.

Will need to consider caching details of installed packages.

[2019-08-28 13:24] mrlacey opened #242 "Detect missing AutomationProperties"
To aid accessibility in the final app, there are probably things that can be detected at design time as possible addressable issues. Initially thinking about the narrator, but other accessibility issues considered.

- [ ] Buttons displaying an image but with no alternative text.
- [ ] Image without AP.Description (alt text)
- [ ] Lack of access key?
- [ ] Missing HeadingLevel?
- [ ] Form elements

[2019-09-02 09:28] sibille commented on #223
I'm back from vacation and working on it!

[2019-09-02 17:37] mrlacey opened #243 "Get manual UI tests working again"
`AllTextVisibleInHighContrastModesAsync` no longer works correctly.

This appears to be due to changes in
- the high contrast settings dialog in Win10v1903
- getting text from images via cognitive services.

This may require separate fixes in WindowsTestHelpers.

[2019-09-02 17:54] mrlacey commented on #223
All building again now. Yay!

[2019-09-02 17:54] #223 closed, assigned to sibille

[2019-09-04 10:29] mrlacey opened #245 "Add Feature Tracking to Use of suggested actions"
Record feature usage (for analytics) whenever a suggested action is invoked.

[2019-09-04 10:36] #29 closed, assigned to mrlacey

[2019-09-06 12:00] #30 closed, assigned to mrlacey

[2019-09-06 16:15] #38 closed, assigned to mrlacey

[2019-09-06 16:17] mrlacey commented on #13
Necessary details at https://github.com/microsoft/Rapid-XAML-Toolkit/blob/dev/Assets/Marketplace/entry.md

[2019-09-09 13:27] mrlacey commented on #206
all in one vsix

for now. can split anything in the future if necessary

[2019-09-09 13:51] #245 closed, assigned to mrlacey

[2019-09-09 13:52] #224 closed, assigned to mrlacey

[2019-09-10 23:13] michael-hawker commented on #146
It'd be cool to tie into the [PlatformSpecificAnalyzer](https://docs.microsoft.com/en-us/windows/communitytoolkit/platform-specific/platformspecificanalyzer) type code we have in the toolkit in order to show properties in XAML which aren't supported on lower OS versions, and then a fixer which adds conditional XAML to it.

Of course, I'm now realizing we need to update the Platform Specific Analyz

[2019-09-13 09:22] mrlacey commented on #146
X-Ref https://github.com/microsoft/microsoft-ui-xaml/issues/1289#issuecomment-530032114

[2019-09-15 08:40] mrlacey commented on #201
This was added previously

[2019-09-15 08:40] #201 closed, assigned to nobody

[2019-09-15 13:19] #181 closed, assigned to nobody

[2019-09-15 13:30] mrlacey commented on #205
If extract at the file-level, it also makes sense to be able to group the ability to apply a style from the file to an element in that file.

Individual parser, therefore, needs to know about resources in that file. This will necessitate a new capability within an XamlElementProcessor.

Automatically applying a created style to other elements in the same file can initially be a two-step process.
E

[2019-09-17 14:18] XuJin186 opened #259 "Want to reflect method type"
Because the MVVM framework uses the Stylet command as a method, all reflection methods need to be bound to the button, and sincere requirement generation DataGrid

[2019-09-17 14:19] XuJin186 commented on #259
Thank you

[2019-09-17 14:40] mrlacey commented on #259
The problem with generating UI based on an MVVM Framework that maps commands to methods is that there's no way to know from the class which methods this should be done for.
My early experimentation in this area found that ViewModels often have many more methods than should be bound to the UI.
Public parameter-less methods that return void is a possible option but it doesn't allow for scenarios whe

[2019-09-17 15:07] XuJin186 commented on #259
Thanks for the answer,The way to expose the general view model is to bind commands that you need, and can this extension generate DataGrid?

[2019-09-17 16:18] mrlacey commented on #259
In theory it's possible to generate a DataGrid but I haven't created the profile/mapping that supports this. Someone asked this in theory before (tracked at #209) but has been low priority on the backlog.
I'll see if I can find some time to prioritize this.

[2019-09-18 01:37] XuJin186 commented on #259
Well, thank you

[2019-09-19 12:28] mrlacey opened #261 "Convert StackLayout to Grid"
Creating a Xamarin.Forms UI with a StackLayout is easier, but a Grid can be more efficient.

Add a way to automatically convert from a StackLayout to a Grid.

Being able to go back the other way if there's a single column would be great too.

[2019-09-19 12:44] mrlacey opened #262 "Telemetry can be blocking when offline."
**Describe the bug**
AppInsights calls are blocking the UI thread when there is no internet connection.

**To Reproduce**
Steps to reproduce the behavior:
1. Go  offline
2. Drag&Drop something or use any context menu option
3. Notice awkward pause/delay

**Expected behavior**
Telemetry (nor anything else) should block the UI thread.

**Work Around**
Disable all VS telemetry: Help > Send Feedback >

[2019-09-20 19:09] mrlacey commented on #259
I've created a configuration that outputs a `DataGrid` like this:

**Sub-Property Output**
[code]

**Mapping for `ObservableCollection<T>`**
[code]

In the editor it looks like this:

![image](https://user-images.githubusercontent.com/189547/65352038-83fc8600-dbe1-11e9-823f-6493b11c7445.png)

I can then take a property like this

[code]

which references

[code]

That creates this XAML

[code]

An

[2019-09-20 19:10] mrlacey commented on #209
An example of creating a grid with columns/headers is at https://github.com/microsoft/Rapid-XAML-Toolkit/issues/259#issuecomment-533676011

[2019-09-21 07:42] XuJin186 commented on #259
Thank you, but my attempt to download Microsoft Extensions has been unsuccessful, and whether you plan to have a feature that excludes some attributes at the time of generation because some fixed attributes do not need to be bound to the interface. I sincerely want a way to generate buttons and bind commands even if this is optional.

[2019-09-21 12:36] XuJin186 commented on #259
I also have a suggestion that I hope this extension will add shortcuts to allow developers to quickly generate XAML by selecting the attributes and then pressing the shortcuts before copying.

[2019-09-21 12:54] mrlacey opened #265 "Have a way to exclude a property from generation based on attributes"
Allow the type mapping system to support attributes when considering matching. This will allow properties to be ignored from generation or used as a way to indicate a way to that different output should be used.

If type was defined as `[UniqueKey]string` it would match any `string` that is attributed with `UniqueKey` or `UniqueKeyAttribute`.

If Type was just defined as `[Hidden]` it would match

[2019-09-21 13:10] mrlacey commented on #259
How did you try to download it? There's a preview you can install from [here](https://marketplace.visualstudio.com/items?itemName=MattLaceyLtd.RapidXamlPreview).
Or search in Extensions > Manage Extensions
![](https://1.bp.blogspot.com/-6MozzQiAebc/XYN8SLZdClI/AAAAAAAAKGc/bP0ZYMKQ-SMYEt3SBqMbxNXHIAoSzLrIwCLcBGAsYHQ/s640/rxt-search.png)

I've added #265 as a way to track this separate request.

My

[2019-09-21 13:11] mrlacey commented on #259
I'm not sure what you're asking here.
You can already select **properties** and generate the XAML for them.

![](https://github.com/microsoft/Rapid-XAML-Toolkit/raw/dev/docs/Assets/Copy-Selection-To-Clipboard.gif)

[2019-09-21 13:15] mrlacey opened #266 "Add docs link to profile editing screen"
Add a link to https://github.com/microsoft/Rapid-XAML-Toolkit/blob/dev/docs/profiles.md on the Profile editing screen.

Create this as a hyperlink in the bottom left corner.

[2019-09-21 13:16] XuJin186 commented on #259
Yes, your operation is really achievable. What I said is that shortcut keys can be used after selection

Yes, your operation is really achievable. What I said is that shortcut keys can be used after selection

[2019-09-21 13:24] XuJin186 commented on #259
Thank you for your answer, today's network speed may not be good, so I have been downloading failure, I personally feel that attribute filter is necessary. For example, if the model inherits INotifyDataErrorInfo, the HasError attribute will appear. I don't think it's necessary to map this attribute.

[2019-09-21 14:22] mrlacey opened #267 "Document examples of generation scenarios"
Add examples of how to do different things with XAML generation.
This could be in [profiles.md](https://github.com/microsoft/Rapid-XAML-Toolkit/blob/dev/docs/profiles.md) or in a separate (linked) document.

Examples such as
- how to exclude a common base type property
- how to create a DataGrid from a collection
- more...?

X-ref: discussion in #259

[2019-09-21 14:27] mrlacey opened #268 "Support generation mapping on any Type"
While mappings can be linked to multiple types they must be specified individually.
Being able to specify the type as `T` would be a catch-all for any other type. This would enable the scenario where the creation of XAML for properties with specific names is not desirable and can be based on the property name. e.g. "Don't produce any output for a property with a name containing 'internal' or 'hidd

[2019-09-21 14:44] mrlacey commented on #259
If a base class (or interface) has a property that you never want to produce XAML for this is already possible without attributes.

for example, if the base class included `public bool HasErrors { get; set; }` this could be excluded from all generation with a mapping like this:

![image](https://user-images.githubusercontent.com/189547/65374855-7a792980-dc86-11e9-8ba2-eab417c1b1e2.png)

[2019-09-21 15:34] #268 closed, assigned to mrlacey

[2019-09-21 15:43] XuJin186 commented on #259
I'm sorry, but I'd like to ask you one more thing.

![TIM截图20190921234155](https://user-images.githubusercontent.com/43058612/65375554-7e7a6b00-dcc9-11e9-891e-14cd34409c2d.png)
![TIM截图20190921234206](https://user-images.githubusercontent.com/43058612/65375555-80442e80-dcc9-11e9-8f7b-04c1e0202252.png)
![TIM截图20190921234227](https://user-images.githubusercontent.com/43058612/65375556-81755b80-dcc9-1

[2019-09-21 15:54] mrlacey opened #270 "Attributes with fallback are reported as errors in the editor"
The attribute `$att:ColumnWidth:[0]::@name@$` is valid but causes a warning to be shown in the editor.

![image](https://user-images.githubusercontent.com/189547/65375703-6c300b00-dc90-11e9-8f86-8a2ec852ceac.png)

This doesn't happen if no fallback is used.

[2019-09-21 15:58] mrlacey opened #271 "Attribute detection on sub-properties does not work"
With the sub-property output of `<controls:DataGridTextColumn Binding="{Binding $name$}" $att:ColumnWidth: Width="[1]"$ Header="$namewithspaces$"  />`

and the following code

[code]

The ColumnWidth value is not included in the generated XAML.

[2019-09-21 16:20] mrlacey commented on #259
Looks like you've found a bug in the attribute parsing code. Working on it now.

[2019-09-21 18:08] mrlacey commented on #259
version 0.3.7 is now in the marketplace and (among other things) it includes a fix for this issue.

[2019-09-22 06:03] XuJin186 commented on #259
I seem to have another problem. Please take a look at the screenshot
![TIM截图20190922140232](https://user-images.githubusercontent.com/43058612/65383053-bde49e00-dd41-11e9-9289-00eb78e35628.png)

[2019-09-22 06:07] XuJin186 commented on #259
Also, I want to generate Xaml through Display, but it has been unsuccessful. Can you provide use cases?`  public int ID { get; set; }
        [MaxLength(200)]
        public string Name { get; set; }
        public string shi { get; set; }
        public string shi1 { get; set; }
        public string sh2i { get; set; }
        [Display(Name = "Test")]
        public string shi3 { get; set; }`

Th

[2019-09-23 13:09] mrlacey commented on #259
@daxianji007 The parameter in the attribute markup is wrong.
The output should be

[code]

[2019-09-23 13:18] XuJin186 commented on #259
Yeah, I'm sorry for my mistake, but when I inherit another class, I generate a mistake.
`[21:17:06.956]  Detected project type as 'WPF'.
[21:17:07.404]  Detected project type as 'WPF'.
[21:17:07.409]  Detected project type as 'WPF'.
[21:17:07.498]  Detected project type as 'WPF'.
[21:17:07.550]  Detected project type as 'WPF'.
[21:17:07.756]  RapidXamlDropHandler
[21:17:07.985]  Dropping 'H:\WPF控件

[2019-09-23 13:35] XuJin186 commented on #259
Excuse me. Is this my configuration problem?
configuration file：
`<DataGridTextColumn $att:Display:Header="[1]"$    Binding="{Binding $name$}"   Width="*"/>`
XAML:
` <ui:DataGrid ItemsSource="{Binding Class1s}">
           <ui:DataGrid.Columns>
               <DataGridTextColumn Binding="{Binding ID}" Width="*" />
               <DataGridTextColumn Binding="{Binding Name}" Width="*" />

[2019-09-23 13:54] mrlacey commented on #259
This looks like the same issue as #271 where attributes on properties aren't detected when using **$subprops$**. I'll prioritize this.

[2019-09-23 14:04] XuJin186 commented on #259
What do you think is the reason for this mistake?

[2019-09-23 14:50] mrlacey commented on #259
It's to do with a lack of proper support for attributes without parameters. I'm working on a fix right now.

[2019-09-23 14:52] mrlacey commented on #259
These aren't your mistakes. Your finding a bunch of bugs and ways the code can be improved to make identifying possible issues.

Thank you so much for taking the time to report what you're finding. Together we can make this better for everyone.

[2019-09-24 02:24] XuJin186 commented on #259
Yes, you are right. But now I have two more needs.

1. When I have a Class1 attribute in my ViewModel, the Xaml generated when I select it should contain class grouping.
Code：`   public Class1 Class1 { get; set; }`
Xaml：`   <ui:FormItem Label="Class1.ID">
        <ui:IntegerIntUpDown Value="{Binding Path=Class1.ID}" />
    </ui:FormItem>
    <ui:FormItem>
        <ui:TextBox Text="{Binding Class1.

[2019-09-25 19:06] mrlacey commented on #259
You can add these yourself to any command.

Go to: **Tools** > **Options** and select **Environment** > **Keyboard**

Search for the command you want (e.g. search "rapid")

select the relevant command.

Put the cursor in the box highlighted below and press the keys you want to assign.

![image](https://user-images.githubusercontent.com/189547/65631823-3e203300-dfd0-11e9-81ec-3f844e3e49a1.png)

You

[2019-09-25 19:12] mrlacey commented on #259
When you highlight the code it just gets the properties within the selection.

If you want the whole class, put the cursor on the class name and select 'Rapid XAML > Copy to Clipboard' and then you'll get the class grouping.

[2019-09-25 19:34] mrlacey commented on #259
This took longer than expected (sorry) but also led me to a number of other scenarios where code would fail to generate the correct XAML or cause an error in the attempt.
These have all been addressed in the 0.3.8 release which has just been uploaded to the marketplace.

[2019-09-25 21:26] mrlacey commented on #271
config from OP can now produce

[code]

[2019-09-25 21:33] #271 closed, assigned to nobody

[2019-09-25 22:04] mrlacey commented on #266
this will be in 0.3.9

[2019-09-25 22:04] #266 closed, assigned to nobody

[2019-09-25 22:04] mrlacey commented on #271
this will be in 0.3.9

[2019-09-25 22:08] mrlacey commented on #203
This went in previously.

If an autoproperty is in a class that inherits from DependencyObject it can be converted into a dependency property.

If an autoproperty is in a class that contains methods called `OnPropertyChanged`, `Set`, or `SetProperty` the ap can be converted to a property with a backing field that calls the appropriate method in the setter.

[2019-09-25 22:08] #203 closed, assigned to mrlacey

[2019-09-26 06:14] XuJin186 commented on #259
Yes, you can, but you forgot one thing. That's why I want View Binding in a ViewModel. The generated XAML should be {Binding Model.ID} instead of {Binding ID}

[2019-09-26 06:17] XuJin186 commented on #259
Are you not supporting WPF?
configure：

`<DataGridTextColumn  Binding="{Binding $name$}"   Width="*"  $att:Display:Header="[1]"$/>`
Code：
[code]
Error in Generation
[13:54:40.489]  Output contains placeholder for attribute 'Display'
[13:54:40.491]  Attribute not found on property.

[2019-09-26 09:02] mrlacey commented on #259
How to get this depends on the class you are generating the content from.

If you have a class like

[code]

then using output like `<TextBlock Text="{Binding $name$}">` this will give you
[code]

If you have a class like

[code]

and you want `Model.` to appear before the property names in the binding then you'll need to add this to the output template. e.g.  `<TextBlock Text="{Binding Model.$nam

[2019-09-26 09:10] XuJin186 commented on #259
Generally speaking, if there is a Model in ViewModel, it is used for CURD. This is the perfect way to use EF.

[2019-09-26 09:11] mrlacey commented on #259
WPF is supported.
This should work.
I'm investigating why it's not.

[2019-09-26 12:23] mrlacey commented on #259
That may be but not everyone uses EF and conventions like this vary between platforms, frameworks, and ORMs.
The default profiles are deliberately generic so as not to favor one platform/framework/whatever but the configurable ability should allow anyone to adjust them as they need or their platform/framework/convention prefers.

[2019-09-26 13:30] XuJin186 commented on #259
You're not right about that. As you can see, most projects deal with databases. It's normal to have models. Now that you have entities, it's unreasonable to go to ViewModel to create new properties to bind. So most projects still bind models, so I think this proposal is right.

[2019-09-26 13:57] mrlacey commented on #259
We're going to have to agree to disagree on this. It might be that in your experience of building WPF apps that most use databases and most of them use Entity Framework. However, this is not my experience and it's certainly not the case for UWP and Xamarin.Forms apps.
I'm not sure which proposal you're explicitly referring too but I don't see a strong argument for doing anything specific to WPF th

[2019-09-26 14:22] XuJin186 commented on #259
OK.

[2019-09-26 16:31] mrlacey commented on #259
After much investigation it seems that I messed up the 0.3.8 release and that functionality didn't go in correctly. I've just released version 0.3.9 which definitely supports the use of attribute based templates for sub properties.

[2019-09-28 06:55] XuJin186 commented on #259
OK, thanks.

[2019-09-28 06:55] #259 closed, assigned to nobody

[2019-09-28 10:47] mrlacey opened #280 "Generate XAML based on methods (not just properties)"
It should be possible to generate XAML based on a method in the [ViewModel] class.

Some frameworks (Prism & Caliburn.Micro--and possibly others) can bind directly to methods in the ViewModel/DataContext. Some other `EventToCommand` behaviors can also do this. `x:Bind` can also be used to bind directly to method calls on the DataContext.
As XAML can be written to connect directly to methods it is

[2019-10-02 13:11] XuJin186 commented on #280
Of course.

[2019-10-04 01:54] petvetbr opened #283 "Getting intermittent RXT999 exceptions when using Xamarin Forms"
**Describe the bug**
Getting intermittent RXT999 exceptions when using Xamarin Forms

**To Reproduce**
Happens during build with a specific XAML file (attached). When it happens, it seems to go away if I edit the XAML file in some way (ie. remove the <?xml version="1.0" encoding="UTF-8"?> on top of the file and save). Seems like a possible cache issue.

**Expected behavior**
A clear and concise de

[2019-10-04 01:56] petvetbr commented on #283
[TimeSheetsMenuPage.zip](https://github.com/microsoft/Rapid-XAML-Toolkit/files/3688669/TimeSheetsMenuPage.zip)

[2019-10-04 15:18] mrlacey commented on #283
@petvetbr Thanks for reporting this.

Based on the information available (thanks for all the detail) it looks like an issue querying the project system. That it reports as RXT999 this indicates a problem reporting a problem which makes it very hard to diagnose.

I've just uploaded version 0.3.10 to the marketplace and this includes improved error handling and reporting in the area where I think th

[2019-10-04 15:23] mrlacey commented on #204
Nothing happening here. If the designer is slow or often busy. Try closing it (switching to code only view) while it's not totally necessary to use it.

[2019-10-04 15:23] #204 closed, assigned to nobody

[2019-10-04 15:24] mrlacey commented on #270
Fixed.
Will be in 0.3.11

[2019-10-04 15:24] #270 closed, assigned to mrlacey

[2019-10-04 15:56] mrlacey commented on #265
`[Hidden]` and `[Hidden]T` should be seen as equivalent. Having a type (even if it's just `T`) is preferable but I suspect it will avoid potential issues or confusion to assume `T` (or `object`) if nothing is specified.

[2019-10-05 16:31] mrlacey commented on #136
From a technical aspect, need to look at using https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.taskstatuscenter?view=visualstudiosdk-2019

[2019-10-05 16:41] mrlacey opened #286 "Enable build time analysis"
Allow the reporting of XAML issues as a compilation step.

- Visit each XAML file in the solution and report any found issues. -This is in contrast to current VSIX functionality that only works with open documents.
- Will need to consider how this combines with VSIX functionality.
- Needs to use config files included in the project/solution.
- Probably, needs to be a build task.
- May require crea

[2019-10-06 17:51] maxkatz6 opened #287 "Bug: Illegal characters in path in VisualStudioAbstraction.GetProjectType"
**Describe the bug**
Extension can't parse files in specific projects.

**To Reproduce**
Steps to reproduce the behavior:
1. Create project named A (powered with MSBuild.Sdk.Extras)
2. In classic UWP project B reference project A
3. In wapproj project (packaging project) reference project B
4. Open xaml file in project A

**Expected behavior**
Extension works normally.

**Additional context**
I ha

[2019-10-06 17:59] mrlacey commented on #287
Nice find. :)
I'll get a fix in an updated preview release tomorrow.

[2019-10-06 18:07] maxkatz6 commented on #287
@mrlacey
Note that markdown parser ate '<', '>' in my previous message in place, where I put value of UniqueName.
I have updated message. Exception was founded with ```UniqueName == "<MiscFiles>"```

[2019-10-07 09:03] mrlacey commented on #265
Will be in 0.3.11

[2019-10-07 09:03] #265 closed, assigned to mrlacey

[2019-10-07 17:42] mrlacey commented on #287
@Tirraon thank you so much for taking the time to report this.
A fix for this was included in preview version 0.3.11  which was released to the marketplace earlier today.
If the issue still occurs for you with this new version, please let me know. Or get in touch if you have any other problems or suggestions.

[2019-10-07 17:54] mrlacey commented on #209
Closing as answer is linked in earlier comment.

[2019-10-07 17:54] #209 closed, assigned to nobody

[2019-10-07 17:56] mrlacey commented on #207
To do this would require a previous solution-wide pass to identify all such controls that could be used to surround the selected content.
I believe this would require a multi-pass solution and so be dependent upon #135 & #136

[2019-10-07 17:58] mrlacey commented on #283
I'm going to close this on the assumption that the changes in the 0.3.10 release did address the problem.
Please comment below if they didn't and we can reopen this issue.

[2019-10-07 17:58] #283 closed, assigned to mrlacey

[2019-10-10 20:53] maxkatz6 commented on #287
@mrlacey
Thanks! I will take a look and close issue at this weekends.

[2019-10-10 23:14] prabh-62 opened #290 "Visual Studio for Mac Extension"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
I see there is an [extension published](https://marketplace.visualstudio.com/items?itemName=MattLaceyLtd.RapidXamlPreview) for `Visual Studio for Windows`. In the future, would there be a extension for `Visual Studio for Mac` ?

**Describe alternatives you've considered**

**Additional context*

[2019-10-11 08:07] mrlacey commented on #290
Hi @prabh-62
Support for Visual Studio for Mac is something that I'd definitely like to have but shipping a V1 for Windows is a priority first.

[2019-10-11 22:48] mgoertz-msft commented on #146
@michael-hawker There's already a built-in analyzer for that. Isn't that working for you?

[2019-10-12 16:32] maxkatz6 commented on #287
It works!

[2019-10-12 16:32] #287 closed, assigned to mrlacey

[2019-10-12 18:06] kmgallahan commented on #206
I would suggest that the toolkit be split into:

* A "Rapid XAML Generation" component
* A "Microsoft.xaml.analyzers" style component

I imagine the audience for analyzers is broader than that of code generation, but could be wrong.

This split would help discoverability of the analyzers (I wasn't even aware they were in here until re-visiting the repo today).

[2019-10-13 05:06] michael-hawker commented on #146
@mgoertz-msft, I don't think I've noticed it.  See the WinUI thread here as well: https://github.com/microsoft/microsoft-ui-xaml/issues/1289#issuecomment-530032114

[2019-10-13 18:32] mrlacey commented on #206
@kmgallahan thanks for the feedback.
Unfortunately it's not (yet--hopefully) possible to package XAML analyzers in the same way as Roslyn analyzers. For this reason everything is still in a single package. Currently everything is in a single VSIX as this made more sense than having multiple VSIX packages that wouldn't necessarily be any more discoverable.

I know that awareness and promotion is st

[2019-10-14 18:54] mrlacey commented on #280
Notes on examples of what it needs to be possible to generate

**Method with single parameter**

[code]

[code]

**Example Two**

[code]

[code]

**Example with no parameters**

[code]

[code]

**No parameters - second example**

[code]

[code]

**parameter that references another element in view**

not sure how possible this will be with generated element names.

[code]

[code]

**Caliburn long f

[2019-10-14 18:58] mrlacey commented on #280
@xujin950710 Are you saying that given a method like `MyMethod(string id, int amount)`, you'd need to be able to include "id" or "amount" in the generated XAML?

I'm not saying this couldn't be possible I just don't know any frameworks that use these values in this way.

Can you share an example of a method and the XAML you've written to call into it that uses the parameter names?

[2019-10-19 09:26] mrlacey opened #292 "Move configuration to EditorConfig"
`.editorconfig` files are seen as the way forward for storing settings.

Use this rather than `settings.xamlanalysis`

~May also be an alternative to `suppressions.xamlAnalysis` as well.~

[2019-10-19 09:27] mrlacey commented on #211
Consider doing #292 (use EditorConfig) first instead.

[2019-10-23 11:30] mrlacey commented on #206
Reopening as external circumstances may make this desirable.
Being open it makes it easier to find and cross-reference ;)

[2019-10-24 18:00] mrlacey opened #293 "Consider moving nightly build to vsixgallery"
I think we can simplify the CI process by moving the "nightly" build to be distributed via vsixgallery.com based on PR builds from AppVeyor.

[2019-10-24 20:56] mrlacey commented on #164
not sure what original intention was here.
there are now some tests which include this placeholder so closing for now.
Can add further tests if a reason is found.

[2019-10-24 20:56] #164 closed, assigned to nobody

[2019-10-25 05:01] wasteam opened #297 "Build rxt.dev.version_0.2.19298.01 failed"
## Build rxt.dev.version_0.2.19298.01
- **Build result:** `failed`
- **Build queued:** 10/25/2019 5:00:01 AM
- **Build duration:** 0.66 minutes
### Details
Build [rxt.dev.version_0.2.19298.01](https://winappstudio.visualstudio.com/web/build.aspx?pcguid=a4ef43be-68ce-4195-a619-079b4d9834c2&builduri=vstfs%3a%2f%2f%2fBuild%2fBuild%2f31577) failed

+ BaseSuggestedAction.cs (44): VSIX\RapidXamlToolkit\

[2019-10-25 08:01] mrlacey commented on #297
This looks like a config issue on the build server.

[2019-10-25 08:02] mrlacey commented on #297
/azp run

[2019-10-25 10:09] sibille commented on #297
Sorry, re-installed the build server and missed VS 2019. Installing now!

[2019-10-25 12:06] sibille commented on #297
Done and queued a new build!

[2019-10-25 12:06] #297 closed, assigned to nobody

[2019-10-25 12:16] mrlacey commented on #297
thanks. 😃

[2019-10-25 16:43] mrlacey opened #300 "Support custom XAML analysis"
Like Roslyn Analyzers, support custom XAML analysis rules defined in separate libraries but referenced in the project.

This will make it easier for other people to build their own analysis specific to their own projects.
Some of what's created may be able to be contributed back to the main repo.
Having this will also hopefully increase usage/.adoption.

To do this it would be good to have process

[2019-10-27 20:15] mrlacey commented on #39
Not sure what was originally intended here.
Can reopen when/if it becomes clear

[2019-10-27 20:15] #39 closed, assigned to nobody

[2019-11-02 16:23] msavazzi opened #302 "UWP not connecting to SQLExpress Northwind db"
**Describe the bug**
I get an error on connection to the SQLEXPRESS DB. I've tried even the troubleshooting (tcp/ip active etc..)

**To Reproduce**
Steps to reproduce the behavior:
compile example and run

**Expected behavior**
to connect.

**Additional context**
even tried the 127.0.0.1 as suggested in the posts.
Tried to disable firewall

[2019-11-03 15:56] mrlacey commented on #302
@msavazzi I think you've logged this issue in the wrong place. There's nothing in the Rapid XAML Toolkit about connecting to a database.

[2019-11-03 15:56] #302 closed, assigned to nobody

[2019-11-14 23:29] mrlacey commented on #280
No negative feedback - assuming all is good

[2019-11-14 23:29] #280 closed, assigned to nobody

[2019-12-03 13:09] mrlacey commented on #206
This is happening!

The functionality will be available in separate VSIX packages so it will be possible to install only what's wanted.
There will also be an "extension pack" available which will enable the installing of everything at once.

Initially, there will be 2 separate install options (Generation & Analysis) but this will grow in time.

[2019-12-03 13:10] mrlacey opened #303 "Remove Microsoft EULAs and notices"
as the title says.

[2019-12-04 11:52] mrlacey commented on #293
Also, update related docs

[2019-12-09 13:54] mrlacey opened #304 "Migrate WIKI to docs"
WIKI docs can't easily be tracked like other docs in the repo.
Move to a set of documentation that everyone can contribute to and see the history of.

[2019-12-09 13:57] mrlacey opened #305 "Add a social image to the repo"
To improve the sharing experience

1280×640px for best display

[Download template](https://github.com/mrlacey/Rapid-XAML-Toolkit/settings/og-template)

[2019-12-09 14:36] #304 closed, assigned to nobody

[2019-12-09 14:45] mrlacey commented on #305
done

[2019-12-09 14:45] #305 closed, assigned to nobody

[2019-12-09 16:12] #303 closed, assigned to nobody

[2019-12-09 20:04] mrlacey commented on #293
Done

https://github.com/mrlacey/Rapid-XAML-Toolkit/blob/master/docs/installation.md#canary-builds

[2019-12-09 20:04] #293 closed, assigned to nobody

[2019-12-09 20:06] mrlacey commented on #208
The XAML team from Microsoft are already exploring an option for this https://marketplace.visualstudio.com/items?itemName=PeterSpa.XamlBinding

[2019-12-09 21:01] #12 closed, assigned to nobody

[2019-12-09 21:09] mrlacey opened #312 "Support localization of VSIX"
Due to an inability to fund localization, partially localized content was removed in

It would be great to enable this again
- [ ] Once the code-base is stable
- [ ] Once time and resources allow
- [ ] After reviewing how to determine what to localize. (e.g. Not sure if localizing all output messages is helpful. Should only direct UI elements be localized?)

[2019-12-12 14:16] mrlacey opened #313 "BUG: Null Ref Exception"
[code]

**Describe the bug**
Encountered while experimenting with MVX on UWP

[2019-12-12 14:45] mrlacey commented on #292
Not for suppressions

[2019-12-17 19:48] mrlacey opened #314 "Refactor and restructure resource files"
As a result of restructuring into multiple projects/extensions need to do the following related to resource files.

- [x] Ensure using an appropriate structure for moving forward
- [x] Ensure consistencies in naming
- [x] Update localization tool (as appropriate)
- [x] Update [localization docs](https://github.com/mrlacey/Rapid-XAML-Toolkit/blob/master/docs/localization.md)

[2019-12-20 11:54] mrlacey commented on #206
Still to do

- [x] fix project type references in the options dialog
- [x] verify all functionality.
- [x] update contributing and testing docs
- [x] turn the original project to be an extension pack.
- [x] add blue border icon to extension pack
- [x] update version numbering
- [x] update options emulator
- [x] update test project references
- [x] update manual test projects

[2020-01-04 14:02] mrlacey commented on #206
investigating marketplace distro/indexing issue before publishing

[2020-01-04 14:04] mrlacey opened #316 "Create website"
Needs to work as a promotional landing page and then also hold documentation about functionality.

WIll need to review what, if anything, to move from docs folder here. (or duplicate?)

[2020-01-04 14:16] mrlacey commented on #313
No repro and line numbers don't help after project refactoring.
Can reopen when hit this again.

[2020-01-04 14:16] #313 closed, assigned to nobody

[2020-01-04 14:28] mrlacey commented on #45
Change of mind. Leave it on and let people turn it off if so desired.
It's better to have it if possible for errors.
Not expecting a lot of external feedback/testing before actual launch.

[2020-01-04 14:28] #45 closed, assigned to nobody

[2020-01-04 14:30] mrlacey commented on #211
Doing this before #292 as not sure if/when that will happen

[2020-01-05 20:48] mrlacey opened #317 "RXT451 & RXT452 are tagged twice"
Any XAML where the x:Name or x:Uid does not start with a capital letter.

Errors are listed twice in the ErrorList.

Suggested actions are duplicated in the drop down.

[2020-01-07 20:09] mrlacey opened #319 "Update tags after suppressing an error code"
**Describe the bug**
When an error code is suppressed via the suggested actions menu the underlining and error list entries for that error code are not automatically updated. they should be.

**To Reproduce**
1. Open a XAML file with warnings
2. Click on `ctrl+.` and select `Do not warn about ...`
3. Entry should be added in settings.xamlAnalysis
4. Notice that the element/attribute is still under

[2020-01-08 11:59] mrlacey commented on #319
Current work-around is to close and reopen the xaml file to force a refresh of the tags.

[2020-01-08 13:54] #211 closed, assigned to mrlacey

[2020-01-08 14:11] mrlacey commented on #317
EveryElementProcessor is parsing children when it shouldn't.

[2020-01-23 19:11] mrlacey opened #320 "Future ideas"
Just gathering ideas in a central place

- [ ] Ability to analyze styles for duplications
- [ ] Ability to analyze styles for accessibility issues
- [ ] Identify where styles are used (or not)
- [ ] Ability to extract a style from an element
- [ ] Have a way to visualize styles (including different states)
- [ ] Have a way to visualize data templates (inc. in selectors)
- [ ] Add Item templates (f

[2020-02-05 10:48] vgromfeld opened #321 "Add Analyzer to remove the unneeded x:Name attributes"
Each time we write a `x:Name="xxx"` attribute in our XAML code, a field is created on the generated code-behind file. This field is populated during the control creation using a query to the XAML tree. This query has an impact on the XAML loading since it requires the runtime to fetch the element from the tree.

If the control's field is used in the code behind, this is perfectly legitimate but if

[2020-02-06 12:26] mrlacey commented on #321
Great suggestion.

Note that the analysis also needs to allow for element name references elsewhere in the XAML document, not just code-behind.

In theory, there could be references from additional documents or via reflection that could lead to false positives here.

X-Ref #132 as this depends on analysis of more than just a single document.

[2020-02-08 12:32] mrlacey commented on #132
Get a form of this with #286 for analyzing all files

[2020-02-08 12:33] mrlacey commented on #132
Analyzing all files in a project and doing analysis based on multiple files are different and (both) complex challenges - may need to split this issue once better defined.

[2020-02-08 12:38] mrlacey commented on #210
There's potential for performance issues here as may need to visit every attribute to look for such problems.
Alternatively, may need
- very generic rules
- lots and lots of specific rules
- the ability to reflect on properties to identify possible issues. (i..e determining at analysis time if can take a plain string or if there are specifics to consider)

[2020-02-08 12:44] mrlacey commented on #300
Rough concept of what implementation might look like.

![customAnalysisConcept](https://user-images.githubusercontent.com/189547/74085354-2b366880-4a70-11ea-86e9-5db9482a5191.png)

Assumes
- Referenced separate NuGet package that includes the definition of `CustomAnalysis`
- Can load rules from the project being analyzed, separate (referenced) projects in same solution & referenced libs/packages
-

[2020-02-08 12:57] mrlacey opened #323 "Show Uid resources when viewing XAML documents"
When working with localized content some values that are applied at runtime aren't visible in the XAML designer or editor as they come from RESW files.

**Describe the solution you'd like**

Show the resource file values overlaid on the XAML editor so it's possible to see what might affect runtime behavior without having to look at multiple files.

Concept:
![XamlResVisConcept](https://user-images

[2020-02-08 12:57] #317 closed, assigned to mrlacey

[2020-02-08 12:58] mrlacey commented on #206
Move menu definitions from the extension pack and create as a separate library (RX.Common ?) referenced by those that need is.

[2020-02-08 20:44] michael-hawker commented on #323
It'd be great to be able to edit them from the adorner too (if that's possible?).

Would a separate tool window make sense as well (if the existing one can't be modified)?  It'd be cool if the list in the resource file could be filtered based on the control you have your cursor on in the XAML editor.

[2020-02-08 20:47] michael-hawker opened #324 "Identify Margins/Paddings that don't scale well"
**Is your feature request related to a problem? Please describe.**
Reference: https://twitter.com/Niels9001/status/1226235630763626497

This is probably hard without performing actual layout... but it could be useful to highlight scenarios for margins/paddings where they may not scale well.  Just a thought, this might be a hard problem.

[2020-02-09 18:24] mrlacey commented on #324
This ties in with some other thoughts I've had about doing more with analyzing styles (other things needed first though.)

Calling out values that aren't multiples of 4 ties in with UWP recommendations. Will need to check for other platforms.

[2020-02-09 18:28] mrlacey commented on #323
There are already a number of other tools/extensions that make it easier to work with (and edit) resource files. Trying to do that doesn't feel like the best use of my time unless there's a definite way of making it easier. Maybe come back to this in the future.

A simplified view of the resource file that just shows the resources for the current file (or selected control) could be very useful - e

[2020-02-09 18:50] #206 closed, assigned to mrlacey

[2020-02-10 00:08] michael-hawker commented on #323
Ah, cool, I wasn't aware, do you use a specific one? (Though, it's on my list to eventually add to XAML Studio 😋)

[2020-02-10 00:10] michael-hawker commented on #324
@mrlacey yeah, I'm just thinking of some strange scenario like:

[code]

Where it's still '4', but not readily apparent.  Though I'm not sure where I'd do it this way, it's just a contrived an example for a potentially more complex scenario.  Especially when Styles get thrown in the mix.

[2020-02-10 11:14] mrlacey commented on #323
Try this https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager

Working with resource files in a general way is definitely something that could be improved but it's way down on my list. Some XAML specific stuff definitely has me thinking though...

[2020-02-10 11:18] mrlacey commented on #324
@michael-hawker I think that there's definitely a case for warning about potential issues with your scenario.
At the very least, if everything in the grid had to add a margin there's a benefit in having the grid specify the full margin and everything in it not specify any. (reduced specification in the file leads to quicker passing, a simplified tree, and less potential for issues when the same be

[2020-02-10 19:43] #314 closed, assigned to mrlacey

[2020-02-12 20:43] mrlacey commented on #316
Progress at https://github.com/mrlacey/RapidXamlDev/issues

[2020-02-12 20:45] mrlacey opened #327 "Port current Roslyn Analyzers to VB.NET"
**Is your feature request related to a problem? Please describe.**
Current analyzers are only available for C#, add VB.Net equivalents.

[2020-02-12 20:45] mrlacey commented on #327
Update docs site when implemented.

[2020-02-22 18:55] mrlacey commented on #241
This will also be useful for highlighting UWP & WPF apps that could update to use WinUI 3 (once released) ;)

[2020-02-25 13:41] mrlacey opened #328 "Warn about XML namespace aliases that should be in the `mc:Ignorable` list"
Add additional XAML Analysis hint

**Describe the solution you'd like**
For XMLNS that should be ignored, add a warning if they're not.
If they're not ignored, Uno apps can result in build fails and errors/warnings that don't make the solution obvious.

**Describe alternatives you've considered**
Just remembering to add these isn't a reliable solution. I have demo-fail scars to prove this.

**Addi

[2020-03-02 13:55] mrlacey opened #329 "Support Custom Analysis in app assembly"
It would be good to be able to include an `ICustomAnalyzer` implementation in the main app project and have that be discoverable. Currently need to create in a separate library and then reference in the main project.

Currently limited by MEF loading assemblies needing framework references that aren't in the bin folder.

**Additional context**
Follow on from #300

[2020-03-18 22:57] mrlacey opened #330 "Allow settings.xamlanalysis to support wildcard code matches"
It's possible to change/suppress analysis error types with the `settings.xamlanalysis` file but this requires an entry for each code.

It is desirable to suppress multiple similar codes without having to create entries for each one.

Being able to match multiple codes by specifying a '*' character to match any number of subsequent will address this request.

Example.

` "RTX10*": "None",`

should

[2020-03-19 02:36] mrlacey opened #331 "Cache loading of custom analyzers"
As a follow on from the initial work done for #300, cache the loading of custom analyzers to save reloading them unnecessarily.

Also, cache details of which libraries do or don't contain custom analyzers.

[2020-03-20 21:22] #300 closed, assigned to mrlacey

[2020-03-20 21:25] mrlacey opened #333 "RoslynAnalyzer error"
**v0.9**

[code]

[2020-03-20 21:58] mrlacey opened #334 "Unable to load custom analyzers"
**v0.9**

[code]

[2020-03-22 03:21] MichaelStgt opened #335 "Does Rapid-XAML-Toolkit support Xamarin.Forms?"
Dear mrlacey,

i like your extension, but after going through your repositories i have seen your work is mostly related to Windows UWP. As I do only work with Xamarin.Forms, do/will you implement your extension for the special Xamarin.Forms Xaml elements to?

[2020-03-22 10:15] mrlacey commented on #335
@MichaelStgt Yes everything technically works with Xamarin.Forms, UWP, and WPF.
It's quicker for me to test with UWP so that's why there's more for it at the moment but other functionality for Xamarin.Forms is coming.
Are there any particular things you want to see or any obvious gaps?

[2020-03-24 19:17] MichaelStgt commented on #335
What really would be a nice feature would be to suppress messages like in StyleCop.Analyzer. One example would be to suppress all messages relating to controls assigned to a Grid.Column or Grid.Row that does not exist. During development, I often shift around controls into containers, but leave the Grid.Column/Row Settings in to go back if something does not work. I am to encountered some performa

[2020-03-25 09:30] mrlacey commented on #335
Because I couldn't hook them into the native Visual Studio infrastructure for configuring analyzers but it's possible to configure it in a different way.

The easiest is via the quick actions menu. When an action/fix/suggestion is available, so if the option to suppress such warnings in future.
Just select the `Do not warn about ...` option

![image](https://user-images.githubusercontent.com/18954

[2020-03-25 10:54] mrlacey opened #338 "Extend XAML Analysis to suppress by Element type"
**Is your feature request related to a problem? Please describe.**
In addition to the [current XAML Analysis configuration options](https://github.com/mrlacey/Rapid-XAML-Toolkit/blob/master/docs/configuring-analysis.md), add a way to suppress all analysis of elements of a specific type.

**Describe the solution you'd like**
Ideally, implement within the existing file structure. Not sure how yet.

[2020-03-25 17:28] MichaelStgt commented on #335
wow. this is just awesome!

[2020-03-26 18:55] mrlacey commented on #329
I though Roslyn supported this. it doesn't. Probably for good reason.
This is highly unlikely to ever get done.
Closing for now but will to consider reopening in the future if there's a strong argument for it.

[2020-03-26 18:55] #329 closed, assigned to nobody

[2020-03-26 18:56] mrlacey commented on #319
Note-to-self. May need to forcefully invalidate document caches to get this to work.

[2020-03-26 19:01] mrlacey commented on #176
See https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.interop.ivsupdatesolutionevents?view=visualstudiosdk-2019

for notification of build start/end

[2020-03-27 14:38] mrlacey commented on #333
cannot repro in 0.9.1

[2020-03-27 14:38] #333 closed, assigned to mrlacey

[2020-03-28 20:58] mrlacey opened #339 "Allow Custom Analyzers to apply to XAML Comments"
**Is your feature request related to a problem? Please describe.**
Allow (custom) XAML analysis of comments in XAML.

This will enable the ability to do things like "Warn about TODOs" for XAML comments :)

**Describe the solution you'd like**
Treat a comment like any other element.

Will require modifications to both XAML parsers. (need to verify)
Hopefully can treat a comment as a RapidXamlElemen

[2020-04-21 08:54] MagicAndre1981 opened #340 "NullreferenceException when opening XAML file (Xamarin.Forms)"
**Describe the bug**

When I open a XAML file I get a message from VS telling that a NullreferenceException happened.

![vs2019_nre](https://user-images.githubusercontent.com/8274816/79848865-f4f75c80-83c1-11ea-964f-c0e40b357b77.png)

**To Reproduce**

1. Open XAML file
2. See error

**Expected behavior**

page opens without any issues.

**Additional context**

Here is stack from `ActivityLog.xml`

[2020-04-21 09:29] mrlacey commented on #340
@MagicAndre1981 Thanks for reporting this.
Is it just with one file, or any file in the project?
If just one file, can you share a copy of the XAML file? This may help me reproduce the issue.

[2020-04-21 09:33] MagicAndre1981 opened #341 "VS2019 ask to Update from 0.8.3 to 0.9.0, but fails each time"
VS2019 shows me daily that an update is available from 0.8.3 to 0.9.0

![vs2019_090_update](https://user-images.githubusercontent.com/8274816/79849792-3f2d0d80-83c3-11ea-9195-20e917568024.png)

, but this fails because I always get message that latest version of the extension is already installed:

![vs2019_090_update1](https://user-images.githubusercontent.com/8274816/79850173-d1351600-83c3-11ea-

[2020-04-21 09:38] MagicAndre1981 commented on #340
not always, but always for this project I got from syncfusion support

[code]

[2020-04-21 09:59] mrlacey commented on #341
I've seen this with other projects too.
It appears to be an issue with how Visual Studio handles the extension update process. I have escalated to Microsoft.

[2020-04-21 10:02] MagicAndre1981 commented on #341
ok, can you change this version to 0.9.1 for all files and release this as a test? I've uninstalled the extension and downloaded a fresh 0.9 VSIX and installed it but again the same update shows up.

[2020-04-21 10:52] mrlacey commented on #341
I think this happens when you've already installed the other extensions this tries to include.
Try uninstalling "Rapid XAML Templates", restart VS, and then the update should work.

[2020-04-21 12:05] mrlacey commented on #340
Investigating with the solution from https://github.com/syncfusion/essential-ui-kit-for-xamarin.forms

[2020-04-22 08:36] MagicAndre1981 commented on #341
no, I've completely uninstall all rapid extensions, downloaded the newest vsix from marketplace, installed it and VS shows the 0.9.0 update again.

// Edit: I see other extensions have newer versions. Try to keep the versions in sync for all extensions and release a new test update, may it fixes it.

[2020-04-22 14:05] MagicAndre1981 commented on #341
I've just tested it on a VS2019 where the extension was never installed before. Here I also get the 0.9.0 update offered. So I configured VS to use Open VSIX Gallery inside VS2019, installed the nightly update and now everything is fine.

If I get it on a fresh system, you should also see this.

[2020-04-26 16:28] mrlacey commented on #340
hopefully this is fixed in 0.9.3 which has just been released

[2020-04-26 16:29] mrlacey commented on #341
Version 0.9.3 is now in the marketplace and should hopefully address this

[2020-04-26 16:30] mrlacey commented on #335
Leaving this open until more Xamarin.Forms related analysis is added

[2020-04-26 16:31] mrlacey commented on #331
This was done as part of #342

[2020-04-26 16:31] #331 closed, assigned to mrlacey

[2020-04-26 16:31] mrlacey commented on #334
This was done as part of #342

[2020-04-26 16:31] #334 closed, assigned to mrlacey

[2020-04-26 16:32] mrlacey commented on #339
closed in error

[2020-04-26 16:35] #13 closed, assigned to nobody

[2020-04-27 06:38] MagicAndre1981 commented on #341
I got 0.9.225 from Open VSIX Gallery, normal market place entry in VS2019 showed no update.

I manually removed again all RapidXAML extensions and installed last VSIX from market place (which is much smaller compared to older version).

now the 0.9.225 shows up again on Open VSIX Gallery.

![rapid_openvsix](https://user-images.githubusercontent.com/8274816/80341213-4f7d3680-8862-11ea-8f91-30fe927c

[2020-04-27 07:44] MagicAndre1981 commented on #340
I no longer get the message with that XAML file from syncfusion support, but Visual Studio is freezing. I get the message that VS is busy while scrolling and typing inside that XAML.

Removing RapidXAML fixes the VS hang.

[2020-04-27 11:11] mrlacey commented on #340
The extension only does things when a file is opened or saved. It shouldn't impact scrolling or typing.
Do you get the Yellow bar at the top of the screen saying it's the cause of the problem?

It shouldn't matter but, which version of Visual Studio are you using?

[2020-04-27 11:20] mrlacey opened #343 "Fix versioning of entries in the VsixGallery"
The VSIX Gallery should include all packages from the main solution and they should be versioned correctly.

- [x] Add RX Common to the gallery
- [ ] All gallery entries should be versioned **X.Y.Z.{BUILD}**

This is how they currently look in the gallery:

![screenshot of current RXT entries in the open VSIX gallery](https://user-images.githubusercontent.com/8274816/80346937-dd115400-886b-11ea-89

[2020-04-27 11:21] mrlacey commented on #341
225 is bigger than 3 and so is treated as a newer version.

It looks like you installed 0.9.3 from the marketplace but VS is detecting a newer version from the vsix gallery.

The Gallery versions should always match or be newer than what's in the marketplace.

It also look like the gallery entries aren't all be versioned as expected so I've raised a separate issue to track that. (#343)

[2020-04-27 14:44] MagicAndre1981 commented on #340
I opened the syncfusion solution and accidently used mouse wheel to scroll, so the VS scrolled, at half page, the scrolling stopped and when I click inside VS, I got the message that VS is busy.

[VS2019 16.4.7](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-v16.4#16.4.7)

[2020-04-28 11:51] mrlacey commented on #340
I've found that the Essential UI kit project can be very slow to load, but once it (and VS) has finished loading everything I don't experience the issues you report.

Some things to try:

Make sure: **Enable Custom Analysis** is set to false

![image](https://user-images.githubusercontent.com/189547/80483753-7fa20380-894e-11ea-9a0d-515b6af7c883.png)

Check that Visual Studio has finished loading a

[2020-04-28 20:49] michael-hawker opened #344 "Changelog out-of-date?"
**Describe the bug**
Last info I see in the changelog was 0.20. I was curious when upgrading from 0.83 to 0.93 what new features were added to try out :)

[2020-04-28 20:53] michael-hawker opened #345 "Check Resource Dictionary Resource references for typos"
**Is your feature request related to a problem? Please describe.**
See WinUI Issue here https://github.com/microsoft/microsoft-ui-xaml/issues/2350

VS doesn't always pick-up when you have a `StaticResource` type reference that's invalid and crashes with an unhelpful issue at runtime. Could make a good analyzer?

[2020-04-29 12:01] mrlacey commented on #344
Updated with some high-level details (from memory)

TBH, I'd forgotten there was a changelog. WIll do better in future.

[2020-04-29 12:01] #344 closed, assigned to nobody

[2020-04-29 12:10] mrlacey commented on #345
This is definitely something I can look at once support for the analysis of Styles is added.

(If it's interesting, this will be based on work done elsewhere for working with [constants](https://github.com/mrlacey/ConstVisualizer) and [resources](https://github.com/mrlacey/StringResourceVisualizer).)

X-Ref #138

[2020-04-29 13:57] mrlacey commented on #319
Fix for this could also force reparse for (xaml) documents open when the solution is loaded but the package hasn't loaded. That situation means any issues won't be highlighted.

[2020-04-29 16:37] michael-hawker commented on #345
Another related issue along these aligns is also around referencing a resource style/template for a different type as the control it's being applied to.

[2020-04-29 18:03] mrlacey commented on #345
I thought VS could catch that for you....goes to check...

[2020-04-29 18:38] mrlacey commented on #345
Are you asking for something other than what's highlighted below?

![image](https://user-images.githubusercontent.com/189547/80633655-07703680-8a51-11ea-8ff0-9e26e218486b.png)

[2020-04-30 10:09] mrlacey commented on #345
Oh no. You probably mean this:
![image](https://user-images.githubusercontent.com/189547/80698796-dfc1b280-8ad2-11ea-94f0-f829d30f2f8d.png)
The purple line indicating where there should be a warning indicated.

[2020-04-30 19:31] mrlacey commented on #286
![image](https://user-images.githubusercontent.com/189547/80751295-6ac99980-8b21-11ea-8be7-d15ff8307fb2.png)
;)

There's a settings file, in the project, to report RXT200 as an error (rather than the default of warning)

[2020-04-30 19:32] mrlacey commented on #286
still need to test with custom analyzers

[2020-05-01 09:33] mrlacey commented on #286
Boom! It works!

[2020-05-04 19:45] mrlacey opened #346 "Explore Intellisense enhancements"
There are potential opportunities to improve the XAML editing/authoring experience by adding additional intellisense/completion options.

e.g.

When adding an `EventTriggerBehavior` to an object, could look up a list of Events provided by "`SomeElement`" so only provide valid options and avoid typos, etc.

[code]

X-Ref https://discord.com/channels/372137812037730304/669640275500466197/69929744660

[2020-05-05 20:13] mrlacey commented on #286
Adding more XF (&WPF) analyzers to help test this on all platforms

[2020-05-05 20:23] mrlacey commented on #163
Need to look at naming conventions for generated resources...

[2020-05-05 21:35] mrlacey commented on #163
options:

`<Search x:Name="SearchTerm" Placeholder="Mens shirts" />`

- {ElementName}{Attribute} (e.g **SearchTermPlaceholder**)
- {Text-toPascalCase} (e.g **MensSearch**)
- {Text-toPascalCase}(ElementTYpe)  (e.g **MensSearchPlaceholder**)

Do them in the above order.
If there is no name, don't do first.
If text is short (one word or less than 10 chars) do last.

Will become:

[code]

`AppResource

[2020-05-20 19:26] mrlacey opened #349 "Enable IntelliCode Team Completions on the solution"
See https://github.com/marketplace/actions/intellicode-team-completions

[2020-05-25 20:16] mrlacey opened #350 "clear error list on solution close/change"
**Describe the bug**

**To Reproduce**

1. open a XAML file which reports errors in the error list
2. change to a different solution.
3. error list entries from the first project are still visible.

**Expected behavior**

error list entries created by the extension for one project should be removed when that project is removed or solution closed

[2020-05-29 00:23] michael-hawker commented on #146
@mgoertz-msft I did finally see this the other day!

![](https://user-images.githubusercontent.com/24302614/83070576-8b054f00-a020-11ea-8f2f-5bfc8f92884f.png)

Who would be in charge of doing similar for C# code? (our solution in the toolkit is becoming too hard to maintain.)

[2020-05-29 15:02] mgoertz-msft commented on #146
@michael-hawker Good question. I'm not sure. C# analyzers are a public extensibility point so anybody could create and analyzer with code fixes for it. I don't think the C# team would want to own this since it's very platforms specific. Ideally it would be part of the SDK.

[2020-05-29 19:35] michael-hawker commented on #146
@mgoertz-msft thanks for the input. Yeah, we've tried in the toolkit to provide such an analyzer, but it's complicated as we're pretty sure we're unable to get information from the project files about what platforms the developer is trying to target, so we can't be specific enough about the guidance to provide. Currently if we flag from the beginning then it's pretty much everything, which isn't u

[2020-05-29 20:40] hermitdave commented on #146
My earliest conversations were on Windows DL back in September  2017. I have spoke to many about this and there was zero interest in PSA. I was explicitly told that we won't be doing this  but feel free.

[2020-05-29 22:27] michael-hawker commented on #146
Thanks @hermitdave for the background. In regards to our current analyzers. Does it make sense to continue trying to support them as we don't have a good solution to scoping analysis?

[2020-05-30 00:11] mgoertz-msft commented on #146
@michael-hawker Here's what we did for XAML:

We use the PreviousPlatforms.xml from the target SDK to get the ApiContracts for each SDK version and then use the minimum target version from the project as well as the ApiContract attributes for each type and member to flag any violations. We then provide code fixes for adding conditional XAML or to retarget for example.

[2020-05-30 08:53] hermitdave commented on #146
@mgoertz-msft detecting min target SDK was the major issue from within lib added from nuget. I asked on Windows DL back in 2018. The original analyser added a non existent file to the project when nuget is installing the lib.
Is there a way to detect min target from lib now?

[2020-05-30 17:24] mrlacey commented on #146
To close things off from the perspective of this project, VS already has the capability to do this in XAML

![image](https://user-images.githubusercontent.com/189547/83334921-a9c64880-a2a1-11ea-85ec-52fe8dab26ca.png)

RolsynAnalyzers don't expose direct access to the file system and so the ability to read the project file from an analyzer doesn't exist. An extension can read the file system and so

[2020-06-01 16:54] mgoertz-msft commented on #146
@hermitdave I don't quite understand what detecting min target from library means. The user determines what the min target should be for a project. The "min target" for individual types/members comes from their ApiContract attributes, and how these ApiContracts correlate to "min targets" comes from the SDKs PreviousPlatforms.xml file.

@mrlacey Is the problem that you don't have the right set of p

[2020-06-01 18:31] mrlacey commented on #146
@mgoertz-msft what you've asked for in that issue will be good. The current limiting factor is that an analyzer can't reach into the file system to read the project file directly. Having the project properties exposed to an analyzer would help with this.
Ideally having more extensibility capabilities made public for XAML files would be even better. Few would want to go to the limits I have to be a

[2020-06-01 21:58] michael-hawker commented on #146
@mgoertz-msft it's about the developer choosing which minimum target they wish their app to be available on when they setup the project (and is stored in the proj file).  If we have a difference engine that goes back to 16299, but the developer has a min target of 17763, then we don't need to warn them about APIs that aren't available on 16299 or 17134.

Since we don't have that information about

[2020-06-01 22:33] hermitdave commented on #146
@michael-hawker There is no support w.r.t querying project info. At this point, you might as well remove it. I do not have the motivation to keep this going any longer. Apologies

[2020-06-02 11:20] mrlacey opened #353 "Update "working with source" docs"
Update https://github.com/mrlacey/Rapid-XAML-Toolkit/blob/master/docs/getting-started.md#working-with-source

to include details of :

- [ ] templates
- [ ] custom analysis
- [ ] build time analysis

[2020-06-02 12:29] mrlacey commented on #349
done. live. :)

[2020-06-02 12:29] #349 closed, assigned to mrlacey

[2020-06-08 12:55] MagicAndre1981 commented on #340
I'll test this tomorrow. Today I got a message from VS2019 telling me your extension caused hang:

![Rapid_XAML_VS2019_warning](https://user-images.githubusercontent.com/8274816/84032799-25a64c00-a998-11ea-8b45-b44833dce55b.png)

[2020-06-08 13:15] mrlacey commented on #340
👍

😢 Do you know what you were doing when this happened?

[2020-06-08 13:38] MagicAndre1981 commented on #340
I scrolled inside a XAML after opening a project.

[2020-06-09 20:41] mrlacey opened #355 "Add a "Binding to x:Bind" converter"
For UWP it would be great to be able to prompt the conversion from "{binding}" to "{x:bind}".

Initially, it could just change the type of binding.

Further understanding of the differences/improvements that can be made/suggested could be in a later version.

[2020-06-18 15:08] mrlacey opened #356 "Defualt WPF generation can include invalid characters in Name"
![image](https://user-images.githubusercontent.com/189547/85037881-d6bd9b00-b17d-11ea-84bc-2f7603bd3d3d.png)

`.` is not valid in the name.
Need to update the default mapping code to use `$safename$`

[2020-06-25 13:28] mrlacey commented on #356
this is not an issue in shipping 0.9 code.
assuming this was encountered in old config, so closing

[2020-06-25 13:28] #356 closed, assigned to mrlacey

[2020-06-27 16:55] mrlacey commented on #176
See also: https://docs.microsoft.com/en-us/dotnet/api/envdte.buildevents

[2020-06-28 20:32] mrlacey commented on #316
Now live at https://rapidxaml.dev/

[2020-06-28 20:32] #316 closed, assigned to mrlacey

[2020-06-29 12:22] mrlacey opened #357 "restore NuGet packages for Custom Analysis Projects"
When adding a new Custom Analysis project (& test project) the NuGet packages referenced by those projects aren't automatically restored.

They should be.

This already happens if adding a single item.

[2020-06-29 18:42] mrlacey opened #358 "Generate list of files to include in BuildAnalysis.nuspec"
Manually identifying changes is hard and error-prone.
Generate the list instead.

[2020-06-29 18:44] mrlacey opened #359 "Report errors in AnalysisExe"
Currently, these are being swallowed and so debugging BuildAnalysis issues is very difficult.
Being able to see error messages will greatly help in debugging.

[2020-06-30 15:03] mrlacey commented on #286
available with v0.10.0 that is available now.

[2020-06-30 15:03] #286 closed, assigned to mrlacey

[2020-06-30 15:04] mrlacey opened #361 "remove master branch"
**In October** - delete the "master" branch.

------------

change it to "main"

check all links/paths/etc. that also need to be updated.

[2020-07-01 06:52] MagicAndre1981 commented on #340
With 0.10 it is fixed. I no longer get the message about delay/not responding and scrolling works fine

[2020-07-01 14:28] mrlacey commented on #361
"main" branch created
default branch changed to "main"
docs links changed
appveyor settings updated

[2020-07-01 14:30] mrlacey commented on #361
will leave master branch around to avoid breaking any existing links but will remove this in 3 months.

[2020-07-01 19:02] mrlacey opened #363 "Show inline symbol hints"
Inspired by the [inline color previews](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#wpfuwp-tooling-1), do a similar thing for symbols/glyphs.

Proof of Concept screenshot

![image](https://user-images.githubusercontent.com/189547/86280927-9ece4300-bbd4-11ea-9b34-99d7008a4001.png)

This will primarily be UWP/WinUI focused (unless there's something in WPF or Xam

[2020-07-01 19:09] mrlacey commented on #363
Also, support the new toolkit markup extension:- https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3110

[2020-07-02 08:56] mrlacey commented on #340
0.10 includes a number of changes, fixes, and optimizations internally that will have helped to fixing/avoiding this issue. Thanks for letting me know this is no longer a problem for you. :)

[2020-07-02 08:56] #340 closed, assigned to nobody

[2020-07-02 19:49] mrlacey commented on #363
Looking promising for all basic functionality

![image](https://user-images.githubusercontent.com/189547/86403370-76fae000-bca5-11ea-89cb-b8667f9df5ae.png)

[2020-07-03 09:12] mrlacey opened #364 "Extend custom analysis options"
There are lots of scenarios where having custom analysis limited to specific named elements is limiting. Custom Analysis should be extended to make it easier to work with multiple element types.

**THIS HAS LOTS OF POTENTIAL TO HAVE A BIG PERFORMANCE IMPLICATION - BE CAREFUL**

Scenarios where this might be useful:

* Wanting to ensure that `Mode` is specified with `Binding` markup
* Checking use

[2020-07-03 09:19] sonnemaf commented on #364
I would love to have this. Especially for a warning on the missing Mode property on a Binding. It should support the MarkupExtensions syntax.

![image](https://user-images.githubusercontent.com/9335559/86453915-d2b57f80-bd1e-11ea-8f7b-c8e67dc3dc6e.png)

[2020-07-03 15:23] mrlacey commented on #357
It turns out this is a known issue with the Project system not correctly restoring NuGet packages for SDK-style projects if they're not already cached locally.
This may be an issue for anyone creating their first custom analyzer. Anyone in this situation will need to manually do a package restore and then all should be good.

Details at: https://github.com/microsoft/VSProjectSystem/issues/221 and

[2020-07-03 15:23] #357 closed, assigned to nobody

[2020-07-04 09:22] mrlacey commented on #359
This is in BuildAnalysis 0.10.1 that has just been submitted to NuGet.org

[2020-07-04 09:22] #359 closed, assigned to mrlacey

[2020-07-04 09:25] mrlacey commented on #176
There's currently nothing problematic about available commands being invoked during a build and that needs a workaround or change.

[2020-07-04 09:25] #176 closed, assigned to mrlacey

[2020-07-07 21:34] EmilAlipiev opened #366 "Vs2019 16.6.3 is freezing When "Compare with Previous" on Xaml"
**Describe the bug**
If i make changes on xaml and select "Compare with Previous", Vs2019 is freezing completely and i have to kill from the task manager. it wasnt the case for earlier updates but started on this version. I disabled the extensions now and everything is normal. I only tested on a Xamarin.Forms project.

**To Reproduce**

1. Change a xaml file and save
2. Go to team explorer
3. Righ

[2020-07-08 11:53] mrlacey commented on #364
This will also enable #355

[2020-07-08 19:33] mrlacey commented on #366
This doesn't just happen with the "Compare with Previous" option. It appears to happen when any (one or more) .xaml files are opened in the diff view.
My investigations continue....

[2020-07-09 14:54] mrlacey opened #368 "Add proper release notes for each version"
Because there currently aren't any.

[2020-07-09 15:34] mrlacey commented on #366
@EmilAlipiev I've just submitted version 0.10.1 to the marketplace and that includes a fix for this issue.

Thank you so much for taking the time to report this issue. Please let me know if you have any further problems, questions, or suggestions.

[2020-07-09 15:34] #366 closed, assigned to nobody

[2020-07-09 20:01] mrlacey opened #369 "Add caching to VisualStudioAbstraction.GetProjectType"
This gets looked up for every document & Tag and may involve lots of checks.
There's a definite opportunity to improve performance in this high use method.

[2020-07-13 04:28] scottkuhl opened #370 "Visual Studio Crashes On Hard Coded Text Value Suggestion"
**Describe the bug**

If you set a Text value in a Label control in Xamarin.Forms to a hard coded string you get the suggestion to correct it:

Label contains hard-coded Text value '....'.

Clicking on the suggestion bulb will cause Visual Studio to crash.

**To Reproduce**

1. Create a new Xamarin Forms project.
2. Add a new Blank Page.
3. Set a hard coded Text value in a Label.
4. Click the sugg

[2020-07-13 12:32] mrlacey commented on #370
I can't reproduce the crash but that it's not showing anything in the drop-down is definitely not right.
I'll add a fix for the menu not showing and hope that fixes the crashing issue for you too.

[2020-07-13 14:34] #319 closed, assigned to mrlacey

[2020-07-13 14:40] mrlacey commented on #370
@scottkuhl I've just released version **0.10.2** to the marketplace which includes a fix that I hope will address the crash you are seeing. Please let me know if this helps.

[2020-07-15 19:25] EmilAlipiev opened #372 "Rapid Xaml Extension makes Xamarin.Forms Xaml changes saving very slow"
Using Roslyn Analyzers, every time I save a xaml change, it take 10+ seconds. I believe it is caused together with Hotreload on Android. I have tested only on Android emulator using hotreload.
Once I disable the extension everything is normal.

VS 2019 16.6.4

[2020-07-15 19:55] mrlacey commented on #372
The [Rapid Xaml RoslynAnalyzers](https://marketplace.visualstudio.com/items?itemName=MattLaceyLtd.RapidXamlRoslynAnalyzers) package should have no impact when saving files.
[Rapid XAML Analysis](https://marketplace.visualstudio.com/items?itemName=MattLaceyLtd.RapidXamlAnalysis) does do some work when a file is saved.
Is it only slow when also debugging / using HotReload or is it also noticeably sl

[2020-07-15 20:04] mrlacey commented on #292
x-ref https://twitter.com/fonssonnemans/status/1283137582168264709

For finding and reading files, see https://github.com/editorconfig/editorconfig-core-net

When adding a new entry:
- If can find an existing file use that.
- If can't find an existing file to add to in the project, create one at the root of the project.
- Need to add entries in a section for `.xaml` files.
- Entry names to use "Ra

[2020-07-15 22:08] EmilAlipiev commented on #372
My bad sorry it wasn't Roslyn Analyzers but Rapid Xaml extension. I have enabled disabled each extension one by one and Rapid Xaml is causing 2 problems
1- when i delete an empty line, it delay like 2 secs
2- Saving xaml changes 3+ secs without debugging. While debugging with hotreload much longer and VS Ide is freezing for a few seconds.

I thought it was Roslyn Analyzers because when I checked H

[2020-07-16 19:46] mrlacey commented on #372
There are lots of potential causes of this and I also know there are lots of opportunities for performance improvements that could be causing this.

To further help me get a fix out faster:
- Is this in a particularly large project?
- Does the solution contain multiple other projects beyond the ones for the Xamarin.Forms app(s)?
- Is this in all documents? or just some?

In the meantime, I'll look

[2020-07-17 02:59] scottkuhl commented on #370
That has resolved the issue:

![image](https://user-images.githubusercontent.com/4465616/87743883-9a4a8280-c7af-11ea-945d-ff6e73c875ed.png)

Thanks

[2020-07-17 02:59] #370 closed, assigned to nobody

[2020-07-17 10:08] EmilAlipiev commented on #372
I have just tested with 2 different projects. 1 is a new project and another one is quite large project. yes it only occurs on large project.
It has only XF project as typical solution structure .net standard, android, ios and uwp.
in all documents of large project but in small project even xaml is complicated it doesnt occur. So it looks like that it depends on the size of the project but not the

[2020-07-17 10:09] EmilAlipiev commented on #372
Actually let me ask what exactly does Rapid Xaml? i couldnt find a detailed documentation. is there anything written available?

[2020-07-17 10:23] EmilAlipiev commented on #372
Just fixing my statement above after testing better :) It occurs on large project with large xaml file. Here how you can reproduce it.
- clone this repo https://github.com/xamarin/Xamarin.Forms
- open in VS and change something in this xaml  Xamarin.Forms\Xamarin.Forms.Controls.Issues\Xamarin.Forms.Controls.Issues.Shared\A11yTabIndex.xaml
- delete an empty line first and see there is a delay
- try

[2020-07-18 01:46] EmilAlipiev commented on #320
Those are really awesome features.

[2020-07-18 19:49] mrlacey commented on #369
This should help with #372

[2020-07-18 19:51] mrlacey opened #373 "Improve performance of document parsing"
Focus on improving speed and reducing memory allocation.

X-Ref #372

[2020-07-18 19:54] mrlacey opened #374 "Add ability to opt out of automatic document parsing"
- [x] Add a new configurable option to disable analysis when a document is saved
- [x] add a context menu option to forcibly reanalyze the current document (force save & invalidate cache first)
- [x] add a built-in timer to track how long analysis takes in production.
- [x] add a warning in the output window if analysis takes too long (definition needed) that may want to turn off automatic analysi

[2020-07-18 19:56] mrlacey opened #375 "Investigate smarter document cache invalidation"
See what can be done regarding removing the need to prepare an entire document when a small change is made to it.

This is particularly relevant if the change is only in whitespace.

X-ref #372 & #374

[2020-07-18 19:58] mrlacey commented on #372
Thanks for this. It will definitely help me get a solution out faster.

[2020-07-19 19:18] mrlacey commented on #375
For checking for changes in the document being edited, it should be faster to use the TextBuffer and change spans rather than reparsing the whole document.

Special consideration is needed for elements higher in the tree than where an edit takes place as they may need to reanalyze as well.

[2020-07-20 14:55] mrlacey commented on #373
Also need to see if possible to move this off the UI thread.

[2020-07-20 15:39] mrlacey commented on #374
This functionality is being released in 0.10.3

[2020-07-20 16:13] mrlacey commented on #372
There's definitely a perf issue that is affecting more than just the scenario mentioned above.

Version 0.10.3 is now available from the marketplace.
Included in this version is an option to disable automatic analysis every time a file is saved.

![image](https://user-images.githubusercontent.com/189547/87959456-d3823b80-caaa-11ea-9e1b-1673d2dc8877.png)

Additionally, there is now monitoring how l

[2020-07-20 16:13] #374 closed, assigned to nobody

[2020-07-20 21:31] mrlacey commented on #369
released in 0.10.4

On my machine, this saves approx. half a second when analyzing changes as part of saving a file.

[2020-07-20 21:31] #369 closed, assigned to nobody

[2020-07-22 20:14] michael-hawker commented on #146
🦙 Linking to platform issue opened in [CsWinRT here](https://github.com/microsoft/CsWinRT/issues/293)

[2020-07-27 22:03] EmilAlipiev commented on #372
I have bunch of   warnings like below in the output of Rapid-Xaml toolkit. Do you know what is this to do? is it related?

[code]

[2020-07-27 22:04] EmilAlipiev commented on #372
It was followed by this warning

[code]

[2020-07-28 23:24] mrlacey commented on #372
@EmilAlipiev those errors are related to Custom Analysis support.
If you're not creating your own XAML analyzers you definitely want this turned off as it will impact performance.

Tools > Options > Rapid XAML > Analysis : Enable Custom Analysis = False

[2020-08-04 08:40] mrlacey commented on #361
Removing now as GitHub now redirects missing branches to the default on the website.

[2020-08-04 08:41] #361 closed, assigned to mrlacey

[2020-08-04 08:43] mrlacey commented on #341
Hopefully being on version 0.10.* means this is no longer an issue.
Closing this to tidy up but feel free to reopen if still happening.
Follow up for versioning the vsix gallery versions will be tracked on #343

[2020-08-04 08:43] #341 closed, assigned to nobody

[2020-08-04 09:02] mrlacey commented on #339
Could this work with custom analyzers? What would the contents be?

[2020-08-04 11:32] MagicAndre1981 commented on #341
yes, I no longer have this with 0.10.* . I already subscribed to #343 and watch it

[2020-08-04 20:54] EmilAlipiev opened #379 "Extract Xaml Style for Xamarin.Forms"
**Is your feature request related to a problem? Please describe.**
It is nice to have a feature to extract inline xaml styles automaticaly with right click like below in the image?

![image](https://user-images.githubusercontent.com/10422347/89343930-58717580-d6a5-11ea-9c58-2e005b857510.png)

 I am not sure if that it is already possible but i couldn't figure out. if not we can maybe develop this

[2020-08-04 21:38] mrlacey commented on #379
I have lots of ideas about how to improve working with Styles but no, you haven't missed anything, there's nothing there yet.

I'm also wary of just copying from other tools (especially paid tools) 😉

My preference is also to do something without needing a dialog. Rather, I'd expect functionality relating to extracting an inline style to be exposed via the quick actions menu with options like "ext

[2020-08-07 13:20] mrlacey opened #380 "Have the ability to automatically apply fixes to XAML"
There are scenarios where it is desirable to be able to identify "issues" in XAML files _AND_ fix them without requiring human involvement.
Currently, fixes are applied through suggested actions in the Visual Studio editor. For this to be possible, the tool must be able to change the input files directly.

initial thoughts:
- [x] Can be run as a NuGet reference ~(as a standalone exe)~
-  ~Need to

[2020-08-08 18:41] mrlacey opened #381 "Support converting grid syntax for XamarinForms"
POC previously created for WinUI but XF got an implementation out first.

X-Ref https://twitter.com/mrlacey/status/1292168394955984899

[2020-08-12 15:47] mrlacey commented on #373
The opportunity for performance improvements is never-ending.
Having looked at and addressed the "low hanging fruit" I'm going to close this.
While I recognize that performance is a feature, I feel my time will now be better spent looking at other features.

[2020-08-12 15:47] #373 closed, assigned to nobody

[2020-08-12 18:02] mrlacey opened #383 "Detect elementname bindings have valid names"
Try and catch typos in element names ASAP

[2020-08-13 13:54] mrlacey commented on #368
file added and point added to PR checklist to encourage keeping this up to date

[2020-08-13 13:54] #368 closed, assigned to mrlacey

[2020-08-13 14:19] mrlacey commented on #350
No repro.
This functionality is already implemented and works (confirmed in VS16.6.5)
Sometimes the list is slow to be updated (cleared) but it does happen eventually.

[2020-08-13 14:19] #350 closed, assigned to mrlacey

[2020-08-15 20:49] #353 closed, assigned to mrlacey

[2020-08-21 18:02] mrlacey opened #388 "Review CanonicalName (& LocCanonicalName) use for commands"
See : https://youtu.be/KxzqE0Fm6Zo?t=1584

[2020-08-22 20:47] mrlacey commented on #388
Current options

![image](https://user-images.githubusercontent.com/189547/90965550-f5fbe000-e4c0-11ea-95e6-fbfe5ed309ca.png)

prefix with '.'
https://youtu.be/KxzqE0Fm6Zo?t=1650

[2020-08-22 21:07] mrlacey opened #390 "Replace Common package as a hard dependency"
See https://youtu.be/FyPMwU8VlT8?t=3247

[2020-09-03 12:46] mrlacey opened #393 "Reduce dependencies in AutoFix package"
To reduce file sizes

X-Ref #392

[2020-09-03 13:06] mrlacey opened #394 "Support adding xmlns to document"
When changing XAML it can be useful to introduce a new XML Namespace alias (xmlns) to the document. Suggested actions (analysis fixes) should be able to add these to the top-level document object.

- [x] This should be a new analysis type.
- [x] Require specifying the alias and the value.
- [x] Do not add something that already exists (both alias and value)
- [x] This must be done _after_ all othe

[2020-09-03 15:29] #380 closed, assigned to mrlacey

[2020-09-03 16:06] mrlacey commented on #262
Unable to repro.

Also, other VS native functionality doesn't seem to work correctly when offline. :(

[2020-09-03 16:06] #262 closed, assigned to mrlacey

[2020-09-07 01:46] EmilAlipiev opened #396 "GetLineNumberFromPosition exception"
**Describe the bug**
I am getting below exception every time. Any idea?

[code]

[2020-09-07 09:57] mrlacey commented on #396
Hi @EmilAlipiev
what are you doing when you get this?
Which version of VisualStudio are you using?
Can you share the contents of `StartPage.xaml`?

[2020-09-07 11:04] mrlacey commented on #364
Looking good for inclusion in 0.11

![image](https://user-images.githubusercontent.com/189547/92380997-f96aaa80-f101-11ea-9b9f-fad71f92c256.png)

Requires different approaches to get the two different ways of setting bindings though.

[code]

[2020-09-07 13:48] #355 closed, assigned to nobody

[2020-09-07 14:14] sonnemaf commented on #364
@mrlacey this is great. You are a genius. Looking forward for a public release.

[2020-09-07 21:07] mrlacey commented on #328
Implemented for `Page`.
It may make sense to also do this for `UserControl` and other types but will wait for this to be requested.

[2020-09-07 21:07] #328 closed, assigned to mrlacey

[2020-09-08 10:52] mrlacey opened #400 "Support encoded XML within a XAML file"
Documents like the following are valid XAML but the Analysis Parser cannot handle them correctly as the embedded opening tag is XML encoded but the closing tag isn't.

[source](https://github.com/windows-toolkit/MVVM-Samples/blob/master/samples/MvvmSampleUwp/MvvmSampleUwp/Views/AsyncRelayCommandPage.xaml)

E.g. `&lt;Page.Resources>` is confusing as the closing tag doesn't match the encoded opening

[2020-09-08 14:42] mrlacey opened #401 "Support toolkit markup extension syntax for Symbol Visualiser"
Follow on from #363

Also, support the new toolkit markup extension:- https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3110

**Additional context**
The linked functionality is scheduled for inclusion in version 7.0 of the toolkit and does not have a release date yet.

[2020-09-08 14:43] mrlacey commented on #363
This will be done as a separate (follow-up) task

[2020-09-08 17:19] #363 closed, assigned to mrlacey

[2020-09-08 20:23] mrlacey commented on #364
closing as ready to include in 0.11 - hopefully later this week

[2020-09-08 20:23] #364 closed, assigned to mrlacey

[2020-09-09 14:27] mrlacey opened #404 "remove actions that aren't working"
Remove 404 links * greetings actions as they're not working as intended

See
https://github.com/restqa/404-links/issues/4

https://github.com/actions/first-interaction/issues/10

[2020-09-09 17:05] olivierodo commented on #404
Regarding the 404-link issue, it has been fixed.
The root cause was because of :
https://github.com/mrlacey/Rapid-XAML-Toolkit/blob/15453220a95745240e8c9461f7f37a79c3988f50/docs/warnings/_template.md#L23

So i handle that case in the 404-link github action and bump the version used by this project with a pull request.

[2020-09-09 18:29] mrlacey commented on #404
reopening to remove the greetings workflow.

[2020-09-09 18:30] #404 closed, assigned to nobody

[2020-09-10 10:43] #393 closed, assigned to nobody

[2020-09-12 11:17] mrlacey opened #408 "Support SDK style project files"
Ensure can handle both old and new format project files

- [x] Analysis VSIX
- [x] Generation VSIX
- [ ] Build Analysis
- [ ] AutoFix

[2020-09-12 11:32] mrlacey opened #409 "Determine ProjectType in BuildAnalysis"
BuildAnalysis currently doesn't determine the project type and defaults to Unknown.

The VSSDK is used to determine this in the VSIX(s)
To do this without the VSSDK will require manual analysis of project files and NuGet references.

[2020-09-13 10:02] mrlacey opened #410 "Add analyzers for standard WPF controls"
Depends on #163

Needs to work for .NET Framework and .NET Core

Controls to add analyzers for:

- [ ] Grid
- [x] Button
- [ ] RepeatButton
- [ ] GridViewColumn
- [ ] MenuItem
- [x] CheckBox
- [ ] ComboBox
- [ ] ListBoxItem
- [ ] RadioButton
- [ ] Expander
- [ ] GroupBox
- [ ] TabItem
- [ ] Hyperlink
- [ ] Bold
- [ ] Italic
- [ ] Underline
- [ ] Run
- [ ] Page
- [ ] NavigationWindow
- [ ] Window
-

[2020-09-13 10:03] mrlacey opened #411 "Review analyzers for default Xamarin.Forms controls"
Depends on #163

[2020-09-13 10:05] mrlacey opened #412 "INVESTIGATE: Support analysis of WinUI3"
Need to review if this needs to be separate from UWP control support.

[2020-09-13 10:09] mrlacey opened #413 "Add analyzers for all default WinUI2 controls"
See control list from https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/#alphabetical-index

[2020-09-13 10:12] mrlacey opened #414 "Handle parsing of XAML docs with XML declaration"
XML declarations are optional in XAML files and rarely used.
However, the current `XamlElementExtractor` cannot account for them correctly. It should.

The `Parse` method should ignore the declaration (e.g. `<?xml version="1.0" encoding="utf-8"?>`) if it is there.

[2020-09-13 14:46] #394 closed, assigned to nobody

[2020-09-13 14:49] mrlacey opened #416 "Improve code separation between projects"
Tidy projects in the main VSIX solution to have a clearer separation of responsibilities and dependencies.
This particularly relates to .Utils, .Shared, & .AnalysisCore

[2020-09-13 15:45] mrlacey commented on #396
Version 0.11 has just been submitted to the marketplace and it includes code to avoid this problem throwing unhandled errors and to capture more information about the problem if/when it happens again.

Please can you try updating the extension to the new version and then reporting what happens.

[2020-09-14 10:58] mrlacey commented on #137
X-Ref: https://github.com/microsoft/axe-windows/blob/7e01ebfc1d74b8c72ebcc7894b43988a5421023f/docs/RulesDescription.md

[2020-09-14 18:06] mrlacey opened #418 "BuildAnalysis 0.11.0 reports error"
**Describe the bug**

When using RapidXaml.BuildAnalysis (v0.11.0) it runs fine but reports **"RapidXaml.AnalysisExe.exe" exited with code -532462766.**

**To Reproduce**

1. Build any project that references RapidXaml.BuildAnalysis v0.11.0

**Expected behavior**

run without error

[2020-09-14 20:14] mrlacey commented on #418
fixed in 0.11.2

[2020-09-14 20:14] #418 closed, assigned to nobody

[2020-09-14 20:15] mrlacey opened #420 "Replace use of StyleCop with EditorConfig"
Replace the use of StyleCop.Analyzers with appropriate settings in .editorconfig

Need to review what settings should be included.

[2020-09-14 20:28] mrlacey opened #421 "BuildAnalysis duplicates output"
Running AnalysisExe.exe can lead to output being duplicated.

e.g.

[code]

Need to investigate why this is happening and remove duplicates from output.

[2020-09-15 11:59] mrlacey commented on #421
The cause here is multiple copies of the library containing the analyzer being found.
Rather than revisit the code looking for custom analyzer references, choosing to avoid duplicate output being written.
Duplicate output could be produced for other reasons so treating this as a catch-all way of avoiding suspicious duplication in the output/errorList

[2020-09-15 12:35] mrlacey commented on #421
released in 0.11.3

[2020-09-15 12:35] #421 closed, assigned to nobody

[2020-09-16 11:18] mrlacey opened #423 "Symbol Visualizers aren't scaling correctly"
![image](https://user-images.githubusercontent.com/189547/93330410-a89c3580-f816-11ea-925d-c64f3a31f194.png)

See https://gitter.im/Microsoft/extendvs?at=5f61f3c6a9c2c8511e9b3ab0 and https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/fonts-and-formatting-for-visual-studio?view=vs-2019#BKMK_Formatting

[2020-09-17 10:56] mrlacey opened #424 "Combine changelog & release notes"
Need one document linked everywhere.

[2020-09-17 12:21] #423 closed, assigned to nobody

[2020-09-19 12:00] mrlacey commented on #396
Ok. I think I know why this is happening.
working on it

[2020-09-21 12:17] mrlacey commented on #396
Version 0.11.3 is now in the marketplace.
It includes some code to try and address this problem.
However, as I haven't been able to fully recreate the issue, it also includes additional information in error reports to try and identify the cause if the changes don't fix it.

I'll leave this open until the fix is verified or more information is available to identify the cause.

[2020-09-21 12:49] mrlacey commented on #243
previously addressed

[2020-09-21 12:49] #243 closed, assigned to nobody

[2020-09-21 12:51] mrlacey commented on #208
This is getting built into VS.

Open new issue with any specific issues that the VS functionality doesn't address but could be done here

[2020-09-21 12:51] #208 closed, assigned to nobody

[2020-09-21 12:52] mrlacey commented on #132
BuildAnalysis handles this.

Reopen if specific scenarios / reasons that isn't adequate

[2020-09-21 12:52] #132 closed, assigned to nobody

[2020-09-21 12:53] mrlacey commented on #137
X-Ref #242

[2020-09-21 12:55] mrlacey commented on #390
Removing the use of a separate package (via extension pack) _**will enable auto-update!!!**_

[2020-09-21 13:00] #424 closed, assigned to nobody

[2020-09-22 12:46] #414 closed, assigned to mrlacey

[2020-09-24 10:03] mrlacey opened #429 "Highlight Rows/columns with height/width less than 1"
`<RowDefinition Height="0" />`

This isn't useful. It's probably a mistake. Especially if rowspans across it are used.

Add a suggestion to change row (and column) definitions with a height (or width) less than 1.

[2020-09-30 04:15] distantcam opened #430 "RXT102 warning on Xamarin Grid with new style"
In the following code in Xamarin Forms

[code]

All the Grid.Row/Column attributes that are not 0 produce the warning RXT102 Use of undefined Column/Row etc.

Related to #381

[2020-10-01 14:05] mrlacey opened #431 "Update install image in gettingstarted.md"
The image in https://github.com/mrlacey/Rapid-XAML-Toolkit/blob/main/docs/getting-started.md is out of date.

The [image](https://github.com/mrlacey/Rapid-XAML-Toolkit/blob/main/docs/Assets/extension-search-dialog.png) is taken from a time when the `[Preview]` flag was applied to the name.

![manage extensions window showing the Rapid XAML Toolkit entry](https://github.com/mrlacey/Rapid-XAML-Toolk

[2020-10-01 18:15] #431 closed, assigned to nobody

[2020-10-01 18:53] mrlacey commented on #430
Version 0.11.4 has just been uploaded to the marketplace and contains a fix for this issue.

Please let me know if you find any further problems.

[2020-10-01 18:53] #430 closed, assigned to nobody

[2020-10-01 19:08] mrlacey opened #434 "Use an InfoBar to warn about analysis speed concerns"
The current warning about performance can be easy to miss.

Make it more prominent by using an InfoBar to display the warning.

Also, include a button to open the options from the infobar

X-Ref #372

[2020-10-01 19:38] mrlacey opened #435 "The templates package has the wrong color image"
The templates package uses the purple icon, but it should be the orange one.

As per the color schemes defined [here](https://github.com/mrlacey/Rapid-XAML-Toolkit/blob/main/Assets/colors.txt) and used on https://rapidxaml.dev/ templates=orange

![image](https://user-images.githubusercontent.com/189547/94855139-f6738900-0425-11eb-995f-be1a4c6181f1.png) 😢

[2020-10-01 21:00] mrlacey commented on #388
![image](https://user-images.githubusercontent.com/189547/94862857-77844d80-0431-11eb-8a8c-5678766d7adf.png)

[2020-10-01 21:00] #388 closed, assigned to nobody

[2020-10-01 21:05] #435 closed, assigned to nobody

[2020-10-02 09:12] mrlacey opened #438 "Files encoded as UTF16 cause underlines in the wrong place"
**Describe the bug**

If a XAML file is encoded as UTF16

**To Reproduce**

1. In a Xamarin.Forms project
2. Change a xaml file to use `<?xml version="1.0" encoding="utf-16" ?>`
3. Add `<Label Text="Welcome to Xamarin.Forms!" />`
4. Save file
5. See error:

![image](https://user-images.githubusercontent.com/189547/94906844-1727f700-0497-11eb-8b74-041eb161898e.png)

**Expected behavior**

![image](

[2020-10-02 11:18] mrlacey commented on #438
This isn't about encoding. It's due to an issue with caching that is also the cause of #396

[2020-10-02 11:18] mrlacey commented on #396
It's taken ages to track down (sorry) by I now know the cause of this--and how to fix it.

[2020-10-04 18:35] #438 closed, assigned to mrlacey

[2020-10-04 20:19] #400 closed, assigned to nobody

[2020-10-06 13:22] mrlacey opened #442 "Update Benchmarking to use more realistic content"
Following on from #441

Update Benchmarking to use more realistic content

Ideally
- Based on publicly available test projects
- Needs to test files from WPF, UWP, & XF projects

[2020-10-06 13:38] mrlacey opened #443 "Fix for RXT101 doesn't support succinct Row/Column Definition syntax"
**Describe the bug**

The fix for RXT101 doesn't support the short format for RowDefinitions or ColumnDefinitions

**To Reproduce**

1. Add the following to file in a XamarinForms project

[code]

2. Right-Click on the line `Grid.Row="2"`
3. Select `Add missing row definitions`
4. See `<RowDefinition Height="*" />` incorrectly added to the document

**Expected behavior**

Opening of element should

[2020-11-17 23:28] mrlacey opened #447 "Update minimum VS version to 16.9"
and update dependencies (including JSON.Net) accordingly

[2020-11-29 17:07] HeinzKessler opened #448 "False Warning RXT401 if "IsChecked" comes before "Checked" or "Unchecked""
Using Version 0.11.0:
If both Ckecked and Unckecked event handlers are present, but they appear after the IsChecked Property, then a false RXT401 is generated,
Example:

[code]

If the Checked and Unchecked attributes come before IsChecked, the bug disappears.

Expected: RXT401 behavior not related to the order of the attributes

[2020-12-12 15:01] mrlacey opened #450 "Treat (& support) WinUI3 as separate from UWP?"
Treat WinUI as a first-class citizen.

Step One: define what this means.

[2021-01-07 13:43] mrlacey opened #451 "Add item template for attached property"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-01-07 13:43] mrlacey opened #452 "Add ItemTemplate for markup extension"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-01-09 14:36] mrlacey opened #454 "Make sure files are checked out before editing"
If modifying a file, first check it is not "checked out"

Affects:
- [ ] adding resources
- [ ] excluding analysis rules

X-Ref: https://github.com/madskristensen/SassCompiler/blob/master/src/Manual/ExtensionMethods.cs#L9

[2021-01-26 23:28] michael-hawker opened #455 "NullReferenceException in UWP app"
**Describe the bug**
I unfortunately can't share too many details as it's not a piece of XAML I can share. Just noticed this notice in the Error window and thought I should log a but. At first I thought it was because I had the `rd.xml` file open from my Properties folder.

This is a compiling stable app, so everything should have been valid. If you can tell me if  there's other general informatio

[2021-01-30 17:03] xperiandri opened #456 "Add integration to Blend"
Follow the instruction here https://github.com/madskristensen/DialToolsForVS/issues/20#issuecomment-454816654

[2021-01-30 19:50] mrlacey commented on #456
@xperiandri Which features of the toolkit are you using and which do you think would be particularly useful in Blend?

Adding Blend integration will require a lot of extra testing and possibly more work besides. Before committing to the work, I'd like to understand more about the features you're using (or want to use) and how Blend integration will benefit you (and hopefully others.)

[2021-01-30 19:53] xperiandri commented on #456
Analyzers, paste as XAML.
It is simple. Blend is just a restricted Visual Studio instance with restricted ability to add extensions.

[2021-01-30 20:35] mrlacey commented on #456
Yes, until something relied on isn't available. RXT uses some VS integration points that aren't commonly used.

Can you share more about how you've used the extension in VS and the types of projects you work on?

[2021-02-04 20:14] mrlacey commented on #455
Based on the call stack I can see where this, theoretically, might happen but I can't contrive input to make it happen.
Also, based on the line number references in the output, I can't tie this to a particular build.

Do you know what version of the extension you have installed?

I'd love to know if this ever happens again.
A copy of the XAML would be really helpful if possible. Even sent in priva

[2021-02-04 22:27] mrlacey opened #458 "Check not changing encoding when add resx/resw entries"
X-Ref: https://github.com/mrlacey/DontCopyAlways/issues/4

[2021-02-04 22:33] michael-hawker commented on #455
@mrlacey I have version 0.11 of the packages, though 0.11.4 of the analysis one. Not sure which one is relevant here.

One thing that may be a pointer is that it's using a custom page class and the red squiggle is on the first character of that at the top of the document?

[code]

[2021-02-04 23:01] mrlacey commented on #455
Oh no. Version 0.11 doesn't tie in with the line numbers 😕

The red squiggle is at the top of the document as it has to go somewhere and I don't know where the problem is.
Based on the call stack I can see that the issue is with the TwoPaneView element. Or, specifically something nested two levels deep inside it. 😉

I suppose it's good to know that it is still happening for you and wasn't just a o

[2021-02-05 07:59] michael-hawker commented on #455
Cool, if there's an updated version I should go to then I can try updating and see if that gets you more info. Didn't think I saw a prompt in VS, but I can check again.

Here's the `TwoPaneView` snippet, it seems rather innocuous to share 🙂

[code]

[2021-02-05 19:36] mrlacey commented on #455
Thanks for the snippet. I can now reproduce the errorI 💯

[2021-02-05 21:15] mrlacey commented on #455
Fix will be in 0.12

[2021-02-20 11:43] mrlacey commented on #434
See code example at https://github.com/madskristensen/CodeTourVS/blob/master/src/CodeTourInfoBar.cs

[2021-02-20 11:47] mrlacey opened #461 "Consider using a ThreadedWaitDialog for user intitiated actions"
Because some user-initiated actions (e.g. generate XAML, and analyze current document) may take time, look at using an `IVsThreadedWaitDialog4` to provide user feedback while actions are taking place.

See code example at https://github.com/madskristensen/CodeTourVS/blob/master/src/CodeTourInfoBar.cs

[2021-02-21 13:07] LokiMidgard opened #462 "Icons of the editor-extra are almost not visible in dark theme"
**Describe the bug**
Icons are almost not visible in dark mode.
**To Reproduce**
1. Set Visual Studio to dark mode.
2. Add Xaml that shows an icon using editor-extra

**Expected behavior**
The Icon should be a color that is visible

**Additional context**

![image](https://user-images.githubusercontent.com/389101/108625979-13990a80-744e-11eb-87cb-22fb643226a5.png)

[2021-02-25 21:01] mrlacey opened #463 "Add the ability to generate design-time data"
**NEEDS FULLY SPECIFYING**

Manually creating design-time data is more effort than it feels like it should be.

- What can be done to make it easier, automate it, or generate it?
- How to make it realistic? (i.e. names look like names, etc.)

- Is this a generation or analysis feature? (or both?)

- Does it make sense for all properties/types? (For working with complex types/grids/arrays is the mo

[2021-03-16 20:02] mrlacey commented on #411
For `Image`, add a check on file name format

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/images?tabs=windows

[2021-03-16 20:04] mrlacey commented on #411
For `Line` check on if the Fill property is set

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/shapes/line

[2021-03-16 20:06] mrlacey commented on #411
Add analyzer for Map.Pin
must set a `Label`

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/map/pins#display-a-pin

[2021-03-16 20:11] mrlacey commented on #411
If a `WebView` is inside a StackLayout, ensure WidthRequest and HeightRequest are set

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/webview?tabs=windows

[2021-03-16 20:16] mrlacey commented on #411
For `Slider` check that Minimum is less than Maximum

[2021-03-16 20:18] mrlacey commented on #411
For `Slider`, check if ThumbColor and ThumbImageSource are set.

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/slider

[2021-03-16 20:18] mrlacey commented on #411
For `Stepper` check that Minimum is less than Maximum

[2021-03-16 20:20] mrlacey commented on #411
For `DatePicker` try and ensure MinimumDate is less than or equal to MaximumDate

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/datepicker

Need to consider date formatting if do this.

Can't do this (yet) as don't know project-level settings for locale :(

[2021-03-16 20:24] mrlacey commented on #411
For `ProgressBar`

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/progressbar

[2021-03-16 20:27] mrlacey commented on #411
Don't put a `ViewCell` in a `Carousel`

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/carouselview/populate-data

[2021-03-27 17:03] #163 closed, assigned to mrlacey

[2021-03-27 17:09] mrlacey commented on #462
Adding this capability.
I thought this was already handled :( sorry.

![image](https://user-images.githubusercontent.com/189547/112728429-2b692000-8f1f-11eb-86ad-3e17ffb5ef20.png)

[2021-03-28 08:05] #462 closed, assigned to nobody

[2021-03-31 04:08] mrlacey commented on #443
And RXT102

[2021-03-31 15:53] #443 closed, assigned to nobody

[2021-04-01 01:54] mrlacey commented on #450
May be able to treat them the same. - definitely, if WinUI3 doesn't need anything different from UWP
UWP also ~ WinUI2 so differentiating without a number may be tricky.

[2021-04-01 01:55] mrlacey commented on #450
x-ref #412

[2021-04-10 18:26] mrlacey opened #466 "Investigate using ITrackingSpan to highlight XAML Analysis issues"
### Describe the bug

XAML Analysis errors are currently created in a way that means they are lost once the user starts to edit the document.
Investigate using an `ITrackingSpan` to keep the squiggles in the correct place for longer.

### How can this be reproduced

See https://docs.microsoft.com/en-us/visualstudio/extensibility/inside-the-editor?view=vs-2019#tracking-points-and-tracking-spans for

[2021-04-15 09:27] mrlacey commented on #434
![image](https://user-images.githubusercontent.com/189547/114847035-2b00ce00-9dd5-11eb-9c94-1c145752c1c5.png)

[2021-04-15 09:45] #434 closed, assigned to nobody

[2021-04-26 18:43] mrlacey opened #470 "Plan for VS2022"
This might be a lot of work.

It would be really good to update the roslyn dependences before doing this.

Consider re-combining into a single package to help manage multiple project references and shared code.
The original move to multiple packages was based on feedback that people would like fine-grained control over what they install. Telemetry indicates that very few people are only installing

[2021-05-08 18:28] mrlacey opened #471 "Add Analyzer for WebView on Xamarin.Forms"
If a WebView is inside a StackLayout, ensure WidthRequest and HeightRequest are set

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/webview?tabs=windows

This is a follow-on from #411 but wasn't implemented there as doing so would mean adding this analysis for the StackLayout.
Consider doing when can view parents/containers from within an analyzer.

[2021-05-08 18:30] mrlacey opened #472 "Add ViewCell Analyzer for Xamarin.Forms"
Don't put a ViewCell in a Carousel

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/carouselview/populate-data

This is a follow-on from #411 but wasn't implemented there as doing so would mean adding this analysis for the Carousel.
Consider doing when can view parents/containers from within an analyzer.

Low priority due to low use of ViewCell

[2021-05-14 11:07] mrlacey opened #473 "Treat MAUI separately from XF"
Details TBC.

This is a placeholder to note that this will be needed.

[2021-05-16 09:57] mrlacey commented on #450
Also ensure that all tags are updated accordingly.

[2021-05-16 09:58] mrlacey commented on #473
Also ensure that all tags are updated accordingly.

[2021-05-17 09:58] mrlacey commented on #411
This functionality has been released as part of [v 0.12.0 and is available now](https://marketplace.visualstudio.com/items?itemName=MattLaceyLtd.RapidXamlToolkit).

[2021-05-17 09:58] #411 closed, assigned to nobody

[2021-05-17 09:58] mrlacey commented on #448
This functionality has been released as part of [v 0.12.0 and is available now](https://marketplace.visualstudio.com/items?itemName=MattLaceyLtd.RapidXamlToolkit).

[2021-05-17 09:58] #448 closed, assigned to nobody

[2021-05-17 09:58] mrlacey commented on #455
This functionality has been released as part of [v 0.12.0 and is available now](https://marketplace.visualstudio.com/items?itemName=MattLaceyLtd.RapidXamlToolkit).

[2021-05-17 09:58] #455 closed, assigned to mrlacey

[2021-05-17 09:58] mrlacey commented on #396
This functionality has been released as part of [v 0.12.0 and is available now](https://marketplace.visualstudio.com/items?itemName=MattLaceyLtd.RapidXamlToolkit).

[2021-05-17 09:59] mrlacey commented on #372
Future performance improvements will come in time but closing this for now.
Please reopen or raise new issues for specific examples of things running slowly

[2021-05-17 09:59] #372 closed, assigned to nobody

[2021-05-17 10:00] #396 closed, assigned to nobody

[2021-05-17 10:01] mrlacey commented on #335
Xamarin.Forms is supported and [the latest release (v 0.12.0)](https://marketplace.visualstudio.com/items?itemName=MattLaceyLtd.RapidXamlToolkit) includes more XF specific functionality.

[2021-05-17 10:01] #335 closed, assigned to mrlacey

[2021-05-19 10:51] mrlacey opened #475 "Nested RowDefinitions not being identified correctly"
As per image below,
Row allocation on line 34 is flagged but the definition is there on line 27
Collapsed grid on line 17 doesn't have any row definitions.
Because the row usage on line 32 isn't flagged, suspect it's using the rowDefinitions from outer grid (line 13)

![image](https://user-images.githubusercontent.com/189547/118800439-d0590700-b897-11eb-83a4-e31cad00e423.png)

[2021-05-19 11:16] mrlacey opened #476 "Rewrite GridProcessor to use BuiltInCustom Analyzer"
Current GridProcessor is very complicated and identifying and fixing bugs (e.g. #475) is very error-prone.

Rewrite based on Custom analysis logic to make code easier to understand.
This should involve adding improved code comments.

[2021-05-20 15:02] mrlacey commented on #475
Fix for this released in v0.12.1

[2021-05-20 15:02] #475 closed, assigned to mrlacey

[2021-05-23 10:40] mrlacey opened #478 "Ensure telemetry GUIDs are set in release build"
Create a build warning during release builds if the telemetry settings values are empty.

This is to avoid accidentally releasing a version without telemetry.

[2021-05-24 09:07] mrlacey opened #479 "Remove VS dependencies from AutoFix"
Want AutoFix to be .netstandard2.0 so it can be more widely consumed. (including in [TryConvert](https://github.com/dotnet/try-convert/issues/308))
This means removing all .netframework specific dependencies

[2021-06-01 19:24] mrlacey commented on #479
Still need to abstract away `ITag` and `ErrorTag`

[2021-06-01 19:50] mrlacey commented on #479
~AnalysisExe also needs to not reference RX.Shared.~
~+ drop references to Microsoft.VisualStudio.Text.Data (and PresentationCore & PresentationFramework ???)~

~Can it become a .net5 app too?~

AnalysisExe runs from within an msbuild/VS call so can be tied to the 472

[2021-06-13 17:14] mrlacey commented on #479
autofix provisionally working as a netstandard2.0 lib

still need to
- set version numbers correctly for autofix
- make analysisCore a netstandard lib too
- tidy everything up

[2021-06-17 20:50] scottkuhl opened #481 "Visual Studio 2022 Support"
### Installed product versions
- Visual Studio: 2022 All Versions

### Description
Make the extension available in Visual Studio 2022.

### Steps to recreate
1. Download the extension installer.
2. Run the installer.

### Current behavior
Message that it is already installed to all applicable products appears even though it is not installed in Visual Studio 2022.
It is also not listed in Online Ex

[2021-06-17 22:22] scottkuhl commented on #481
- [Writing Visual Studio Extensions with Mads - 64bit extensions for Visual Studio 2022](https://www.youtube.com/watch?v=L8b3kFriwCs)
- [Writing Visual Studio Extensions with Mads - Splitting extensions for Visual Studio 2022](https://www.youtube.com/watch?v=-PKIPTW6km0)

[2021-06-18 10:18] mrlacey commented on #481
Adding VS2022 support for the Rapid XAML Toolkit is going to be very complicated and unlikely to be something that will happen quickly, even though I'd like it to and it would be good to get MAUI support in ASAP.

@scottkuhl Also note (as you're adding the same link to Mads's videos on multiple issues, it may be desirable to also like to https://youtu.be/L8b3kFriwCs)

[2021-06-19 10:41] #343 closed, assigned to nobody

[2021-06-19 19:03] mrlacey commented on #479
~make analysisCore a netstandard lib too~

not converted AnalysisCore but have linked the necessary used files do can remove dependency on Json.NET and reduce package size

[2021-06-19 19:52] #479 closed, assigned to nobody

[2021-06-30 22:37] mrlacey opened #485 "Reduce dependencies in BuildAnalysis"
Currently there are lots of VS dependency DLLs that are included and these bost the size of the NuGet package.
As AnalysisExe has had a lot of dependencies removed it should be possible to reduce what's needed to be included in BuildAnalysis as this is just a wrapper on AnalysisExe

[2021-06-30 22:40] mrlacey commented on #447
The original aim here was to move to a minimum of VS16.2 to remove the need to bundle JSON.Net.
However, in trying to increase the versions of dependencies along with the supported VS version it became easier to also move the minimum supported VS version to 16.9.
This also fixes a bug where the latest published release was throwing errors on versions lower than 16.10 so by setting 16.9 as a firm m

[2021-06-30 22:49] mrlacey commented on #485
Dupe of #392

[2021-06-30 22:49] #485 closed, assigned to nobody

[2021-06-30 22:58] mrlacey commented on #470
X-Ref #481

[2021-06-30 22:58] #470 closed, assigned to nobody

[2021-07-02 12:18] Luk164 opened #486 "RXRA001 and RXRA003 false positive because of Fody"
**Is your feature request related to a problem? Please describe.**

The aforementioned warnings appear when a property is being used by XAML binding and does not contain OnPropertyChanged call in the setter. This is very useful so that to programmers do not forget to set them and get confused why the UI is not updating, but the problem is that when using Fody PropertyChanged weaver, these are auto

[2021-07-02 12:27] mrlacey commented on #486
Thanks for reporting.
So I'm clear, is this that you don't want the options to show up in the context menu for auto-implemented properties? Or is this something else?

[2021-07-02 17:48] #447 closed, assigned to nobody

[2021-07-02 17:52] Luk164 commented on #486
@mrlacey Pretty much. I currently have them set to suggestions, so I do not accidentally miss them in projects where I do not have Fody on.

[2021-07-02 21:25] mrlacey commented on #486
It's not possible to detect if Fody packages are referenced without a complete re-architecture (to not use Roslyn Analyzers)
These "code fixes" are set to be Hidden by default and so should only show up in the Suggested Actions context menu when it is opened. They should never show up in any output or any other UI to indicate their existence. (They're as hidden as I can make them)
If they're showi

[2021-07-02 21:30] Luk164 commented on #486
@mrlacey Actually, you do not need to detect the referenced packages. Fody generates a file in which weavers are activated and configured, so it should be possible to detect them via this file. Also, these checks do only come up in intellisense, not as a compile warnings or anything like that.

[2021-07-02 21:37] mrlacey commented on #486
Sadly, the way Roslyn Analyzers work is they have very limited access to information about the project the files being analyzed are in. This includes not being able to access (read or even be aware of) other files in the project. I've spent a lot of time trying to work around this for other projects and there isn't a way to do it.

As an aside, the last time I worked on a project that used Fody I

[2021-07-02 21:37] #486 closed, assigned to nobody

[2021-07-02 22:11] Luk164 commented on #486
@mrlacey It is not a big deal, I just thought it could be a quick and easy fix, but I did not know about the roslyn limitations. Thank you for your time and quick replies.

[2021-07-03 12:07] mrlacey opened #487 "Change code conventions to use tabs not spaces...."
... an "experiment" to understand the impact and done on the hope that it makes working with the code more accessible.

[2021-07-03 12:07] mrlacey commented on #420
X-Ref #487

[2021-07-03 12:21] mrlacey commented on #210
Doing this in the editor may be more efficient than doing it in an every element analyzer

[2021-07-10 17:37] #412 closed, assigned to nobody

[2021-07-10 17:37] #450 closed, assigned to nobody

[2021-07-10 17:37] #473 closed, assigned to nobody

[2021-07-12 17:52] mrlacey opened #490 "Use DotNet.ReproducibleBuilds"
See https://github.com/dotnet/reproducible-builds/blob/main/README.md
and https://www.nuget.org/packages/DotNet.ReproducibleBuilds/

[2021-07-19 06:38] MagicAndre1981 opened #492 "VS freezes when Rapid-XAML-Toolkit is installed"
### Describe the bug

When Rapid-XAML-Toolkit is installed, the VS freezes a lot during XAML file save or build start.

### How can this be reproduced?

this happens often when I try to start a build of a project. Next VS2019 16.10 window is frozen and process has to be killed.

After playing a bit around with my installed VS extension, the issue stops if I remove all your Rapid-XAML-Toolkit exten